<div id="tabs">
  <ul>
    <li><a href="#preview">Preview</a></li>
    
    <li><a href="#edit">Edit</a></li>
    
    <li><a href="#testcases">Test Cases</a></li>
    
  </ul>
  
  <div id="preview">
     
    <div class="tab-top">
      <h1>Name: {{ requirement.name }}</h1>
      <h1>Path: {{ requirement.get_path }}</h1>
    </div>
    
    <div class="tab-bottom">
      <table class="pretty ui-corner-all">
    	{% if requirement.get_children  %}
    	<tr>
    	  <th>Path</th>
    	  <th>Name</th>
    	</tr>
    	{% for child in requirement.get_children %}
    	<tr>
    	  <td><a href="#requirement/{{ child.get_parent.pk }}/preview/">{{ child.get_path }}</a></td>
    	  <td><a href="#requirement/{{ child.pk }}/preview/">{{child.name}}</a></td>
    	</tr>
    	{% endfor %}
    	{% else %}
    	<tr>
    	  <th style="text-align:center">No children requirements</th>
    	</tr>
    	{% endif %}
      </table>
    </div>
    
  </div>
  <div id="edit">
    <form name="requirement" action="/ajax/valid_requirement_form/{{ requirement.id }}/" method="post">
      {% csrf_token %}
      {{ requirement_form.as_table }}
      <input type="submit" value="save" class="ui-button ui-widget
    					       ui-state-default
    					       ui-corner-all ui-button-text-only"/>
    </form>
  </div>
  
  <div id="testcases" style="padding:0px">
    {% include "requirements/_requirement_testcases.html" %}
  </div>
  
</div>

