<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />

    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.4.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jstree.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" media="screen, projection" /> 
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.4.custom.css" type="text/css" media="screen, projection"/ > 
    
    <title>Django | {% block title %}The Web framework for perfectionists with deadlines{% endblock %}</title>
    
  </head>
  
  <body>
        
    <div id="requirement-tree" class="column tree ui-corner-all"></div>
    
    <div id="requirement-details" class="column">
      <div id="tabs">
	<ul>
	  <li id="preview-tab"><a name="preview" href="/requirements/ajax/requirement/1/">Preview</a></li>
	  <li id="edit-tab"><a name="edit" href="/requirements/ajax/requirement/1/edit">Edit</a></li>
	  <li id="test-cases-tab"><a name="test-cases" href="/requirements/ajax/requirement/1/e">Test Cases</a></li>
	</ul>
	<div id="preview"></div>
	<div id="edit"></div>
	<div id="test-cases"></div>
      </div>
    </div>
    
    <hr>

  </body>
</html>
