<div>Name: {{ requirement.name }}</div>
<div>Path: {{ requirement.get_path }}</div>

<table class="pretty ui-corner-all">
  {% if requirement.get_children  %}
  <tr>
    <th>Path</th>
    <th>Name</th>
  </tr>
  {% for child in requirement.get_children %}
  <tr>
    <td><a href="#requirement/{{ child.get_parent.pk }}/details/">{{ child.get_path }}</a></td>
    <td><a href="#requirement/{{ child.pk }}/details/">{{child.name}}</a></td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <th style="text-align:center">No children requirements</th>
  </tr>
  {% endif %}
</table>
