<form name="requirement" action="/ajax/valid_requirement_form/{{ requirement.id }}/" method="post">
  <div class="grid_12 alpha">
    <div class="content">
      {% csrf_token %}
      {{ requirement_form.as_p }}
    </div>
  </div>

  <div class="grid_12 alpha button-bar ui-corner-all">
    <div class="content" style="text-align:right">
      <input type="submit" value="save" class="ui-button ui-widget
    					       ui-state-default
    					       ui-corner-all ui-button-text-only"/>

    </div>
  </div>
</form>
