{% extends "organizations/organization_settings.html" %}
{% load authorization %}

{% block settings-active-menu %}menu-item-billing{% endblock %}

{% block project_detail %}

<div class="billing">
  <div class="current">
    Current account: <span>{{ request.organization.payment }}</span>
  </div>

  <div class="grid_2">&nbsp;</div>
  {% for strategy in strategies %}
  <div class="grid_3 program
	      {% if request.organization.payment == strategy %}current{% endif %}
	      {% if request.organization.payment.price > strategy.price %}disable{% endif %}
	      ">
    <h1>{{ strategy.verbose_name }}</h1>
    <div class="option">
      {% if strategy.users > 0 %}
      Up to {{ strategy.users }} users
      {% else %}
      Unlimited users
      {% endif %}
    </div>
    <div class="option">
      Unlimited projects
    </div>
    <div class="option amount">
      ${{ strategy.price }}/month
    </div>
    {% if strategy.price %}
    <div class="option pay">
      <div class="paypal-button">
	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	  <input type="hidden" name="cmd" value="_xclick-subscriptions">
	  <input type="hidden" name="item_name" value="Qualitio: {{ strategy.verbose_name }}">
	  <input type="hidden" name="business" value="admin_1321534853_biz@qualitio.com">
	  <input type="hidden" name="rm" value="1">
	  <input type="hidden" name="a3" value="{{ strategy.price }}">
	  <input type="hidden" name="t3" value="M">
	  <input type="hidden" name="p3" value="1">
	  <input type="hidden" name="no_shipping" value="1">
	  <input type="hidden" name="src" value="1">
	  <input type="hidden" name="return" value="http://meego.localhost.com:8000/settings/billing/">
	  <input type="hidden" name="on0" value="organization">
	  <input type="hidden" name="os0" maxlength="200" value="{{ request.organization.name }}">
	  <input type="hidden" name="on1" value="name">
	  <input type="hidden" name="os1" value="{{ strategy.name }}">
	  <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif">
	  <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
      </div>
    </div>
    {% else %}
    <div class="option pay free">
      Free
    </div>
    {% endif %}

  </div>
  {% endfor %}
  <div class="grid_2">&nbsp;</div>
</div>
{% endblock %}
