{% extends "organizations/organization_settings.html" %}
{% load authorization %}

{% block settings-active-menu %}menu-item-billing{% endblock %}

{% block project_detail %}

<div class="billing">
  <div class="grid_2">&nbsp;</div>

  <div class="grid_3 program current">
    <h1>Free account</h1>
    <div class="option">
      Up 5 users
    </div>
    <div class="option">
      Unlimited projects
    </div>
    <div class="option amount">
      $0/month
    </div>
    <div class="option pay free">
      Free
    </div>
  </div>
  <div class="grid_3 program">
    <h1>Business account</h1>
    <div class="option">
      Up to 10 users
    </div>
    <div class="option">
      Unlimited projects
    </div>
    <div class="option amount">
      $50/month
    </div>
    <div class="option pay">
      <div class="paypal-button">

	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	  <input type="hidden" name="cmd" value="_s-xclick">
	  <input type="hidden" name="hosted_button_id" value="99KEAABS4W9Y6">
	  <input type="hidden" name="return" value="http://meego.localhost.com:8000/settings/billing/">
	  <input type="hidden" name="on0" value="organization">
	  <input type="hidden" name="os0" maxlength="200" value="{{ request.organization.name }}">
	  <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	  <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>

      </div>

    </div>
  </div>
  <div class="grid_3 program">
    <h1>Corporate account</h1>
    <div class="option">
      Up to 100 users
    </div>
    <div class="option">
      Unlimited projects
    </div>
    <div class="option amount">
      $150/month
    </div>
    <div class="option pay">
      <div class="paypal-button">
	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	  <input type="hidden" name="cmd" value="_s-xclick">
	  <input type="hidden" name="hosted_button_id" value="B2YXQWTAKTL8L">
	  <input type="hidden" name="return" value="http://meego.localhost.com:8000/settings/billing/">
	  <input type="hidden" name="on0" value="organization">
	  <input type="hidden" name="os0" maxlength="200" value="{{ request.organization.name }}">
	  <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	  <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
      </div>
    </div>
  </div>
  <div class="grid_3 program">
    <h1>Enterprise account</h1>
    <div class="option">
      Unlimited users
    </div>
    <div class="option">
      Unlimited projects
    </div>
    <div class="option amount">
      $1000/month
    </div>
    <div class="option pay">
      <div class="paypal-button">
	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	  <input type="hidden" name="cmd" value="_s-xclick">
	  <input type="hidden" name="hosted_button_id" value="WEKBWGDD2JWVJ">
	  <input type="hidden" name="return" value="http://meego.localhost.com:8000/settings/billing/">
	  <input type="hidden" name="on0" value="organization">
	  <input type="hidden" name="os0" maxlength="200" value="{{ request.organization.name }}">
	  <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	  <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
      </div>
    </div>
  </div>

  </div>
  <div class="grid_2">&nbsp;</div>
</div>
<!-- Free account -->
<!-- Do 5 użytkowników, dowolna liczba projektów -->
<!-- Business account - 10 użytkowników za 50$/m, dowolna liczba projektów, dodatkowy użytkownik 10$/m -->
<!-- Corporate account - 100 użytkowników za 150$/m, dowolna liczba projektów, dodatkowy użytkownik 10$/m -->
<!-- Enterprise account - dowolna liczba użytkowników za 1000$/m -->

{% endblock %}
