{% extends 'registration/base.html' %}

{% block form %}
<script>
  $(function() {
      $(".domain-go").click(function(e) {
          e.preventDefault();
          var organization_name = $(".organization-name").val();
          if (organization_name.length) {
              window.location = window.location.protocol + "//" + organization_name + "." + window.location.host
          }
      });
  });
</script>

<div id="organization-none">
  <div class="login-option clearfix" style="border-top: 0px;">
    <h1>Please, use your organization link to login</h1>
    <form>
      <fieldset>
        <input class="organization-name"/>
        <span class="domain">.qualitio.com</span> 
        <input class="domain-go" type="submit" value="go"/>
      </fieldset>
    </form>
  </div>
  
  <div class="login-option clearfix">
    <div class="or">OR</div>
    <h1>Create an Organization</h1>
    <div class="text">
      Create your own organization.
    </div>
    <form method="post" action="{% url organization_none %}">        
      <fieldset>
        {% csrf_token %}
        
        {{ organization_form.email.errors }}
        {{ organization_form.email }}{{ organization_form.email.label_tag|lower }}
        
        {{ organization_form.name.errors }}
        {{ organization_form.name }}{{ organization_form.name.label_tag|lower }}
        
      </fieldset>
      <div class="submit-panel">
        <div class="right">
          <input type="submit" value="register" />
        </div>
      </div>
    </form>
  </div>

</div>
{% endblock %}
