{% extends "page.html" %}

{% block js-include %}
{{ block.super }}
<script type="text/javascript">
  APP_NAME = '{{ app_label }}';
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.blockUI.js{{ STATIC_HASH }}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.refreshdetector.js{{ STATIC_HASH }}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/filter_save_query_dialog.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/filter_saved_queries_dialog.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/base_filter.js{{ STATIC_HASH }}"></script>
{% endblock %}

{% block css-include %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/filter.css{{ STATIC_HASH }}"></link>
{% endblock %}


{% block project_detail %}
<div class="grid_16">
  <div id="application-menu" >
    <ul>
      {% block application-menu %}{% endblock %}
    </ul>
  </div>
</div>

<div class="grid_16">
  <div id="application-view" class="clearfix" style="padding:10px; min-height: 500px">
    {% block application-view %}{% endblock %}
  </div>
</div>
{% endblock %}
