{% extends 'base.html' %}

{% block js-include %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/base_tree.js"></script>
{% endblock %}

{% block application %}
<div class="grid_16">
  <div id="application-menu" >
    <ul>
      {% block application-menu %}{% endblock %}
    </ul>
  </div>
</div>

<div class="container_16">
  <div class="grid_4">
    <div id="application-tree"></div>
  </div>
  <div class="grid_12">
    <div id="application-view" class="container_16 clearfix"></div>
  </div>
</div>
{% endblock %}
