{% load webdesign %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" media="screen, projection" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css" media="screen, projection" /> -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/107214.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.4.custom.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/formalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.jnotify.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css{{ STATIC_HASH }}" media="screen, projection" />
    <link href="http://www.kernest.com/fonts/romeral.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://www.kernest.com/fonts/tex-gyre-adventor-regular.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://www.kernest.com/fonts/junction.css" media="screen" rel="stylesheet" type="text/css" />
    {% block css-include %}{% endblock %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jstree.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-fieldselection.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form-2.43.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.qtip-1.0.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.formalize.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jnotify.js"></script>
    <script>
      DATE_FORMAT = {{ DATE_FORMAT }};
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js{{ STATIC_HASH }}"></script>
    {% block js-base-include %}{% endblock %}
    {% block js-include %}{% endblock %}
    <title>qualitio: {% block module-title %}{% endblock %}</title>
  </head>

  <body>
    <div id="main">
      <img id="loading" src="{{ MEDIA_URL }}images/ajax-loader.gif" />
      <div id="notification"></div>
      
      <div id="header" class="container_16 clearfix">
        <div class="grid_3 suffix_8">
          <div class="logo">
            qualitio<span style="font-size:12px; font-weight: bold"> {% block module-name %}{% endblock %}</span>
          </div>
        </div>

        <div id="project-menu" class="grid_5" style="text-align:right">
          <div class="content">
            <a href="/require/">requirements</a> |
            <a href="/store/">store</a> |
            <a href="/execute/">execute</a> |
            <!-- <a href="/report/">report</a> | -->
            <!-- <a href="/settings/">settings</a> | -->
            <a href="/admin/">admin</a>
          </div>
        </div>
      </div>

      <div class="container_16 clearfix">
        {% block application %}{% endblock %}
      </div>

      <div id="footer" class="container_16 clearfix">
        <div class="grid_16">
          <div class="content">
            test
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
