{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />

    <link href="{{ HTTP_PROTOCOL }}://fonts.googleapis.com/css?family=Bevan:regular" rel="stylesheet" type="text/css" />
    <link href="{{ HTTP_PROTOCOL }}://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,bold,bolditalic" rel="stylesheet" type="text/css" />

    {% compress css %}
    {% block css-include %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/107214.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.4.custom.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/chosen.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/formalize.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.jnotify.css" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css{{ STATIC_HASH }}" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/table.css{{ STATIC_HASH }}" media="screen, projection"/>
    {% endblock %}
    {% endcompress %}

    {% compress js %}
    <script>
      DATE_FORMAT = {{ DATE_FORMAT }};
      MEDIA_URL = '{{ MEDIA_URL }}';
      PROJECT_SLUG = '{{ request.project.slug }}';
    </script>

    {% block js-include %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.1.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.4.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/underscore-min-1.1.4.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/backbone-min-0.3.3.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jstree.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-fieldselection.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form-2.43.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.qtip-1.0.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.formalize.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jnotify.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.itemsselector.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.livefilter.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.infieldlabel.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.chosen.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.checkboxbutton.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js{{ STATIC_HASH }}"></script>
    {% endblock %}
    {% endcompress %}

    <title>qualitio</title>
  </head>

  <body>
    <div id="main">
      <div id="notification"></div>

      <div id="header" class="container_16 clearfix">
        <div class="grid_6">
          <div class="logo">
            <a href="/">{% block logo %}qualitio{% endblock %}</a>
          </div>
        </div>

        <div id="menu" class="grid_10 clearfix">
          <div>
            <a href="{% url django.contrib.auth.views.logout %}">logout</a>
          </div>
	  {% if user.is_superuser %}
          <div>
            <a href="/admin/">admin</a>
          </div>
	  {% endif %}
	  {% if user.organization_member.role == "admin" %}
          <div>
            <a href="/settings/">settings</a>
          </div>
	  {% endif %}
          <div>
            <a href="#">Welcome
	      <b>
		{% if user.social_auth.exists %}
		{{ user.email }}
		{% else %}
		{{ user.username }}
		{% endif %}
	      </b>
	    </a>
          </div>
        </div>
      </div>

      <div id="base" class="container_16 clearfix">
        {% block base %}{% endblock %}
      </div>

    </div>
  </body>
</html>
