{% extends 'base.html' %}

{% block application %}
<div class="container_16" >
  <div class="grid_16">
    <div id="application-menu" >
	 <a href="/settings">settings</a>
	 <a href="/settings/teams">teams</a>
    </div>
  </div>
</div>

<div class="container_16">

  <div class="grid_12 push_4">
    <div class="grid_12 alpha">
      <div id="application-view-menu">
	<a class="details" href="#requirement/{{ requirement.pk }}/details/">details</a> |
	<a class="edit" href="#requirement/{{ requirement.pk }}/edit/">edit</a> |
      </div>
    </div>

    <!-- Just a place holder for dynamic input -->
    <div id="application-view">
      <div class="grid_12 alpha ui-corner-all">
	<div class="content" style="text-align:left; min-height: 357px;">
	  <h1>Team informations</h1>
	  <div class="text-bullet">name: {{ team.name }}</div>
	  <div class="text-bullet">leader: {{ team.leader.username }}</div>
	  <div class="text-bullet">created at: 10:02:01 thu 11, 2010</div>

	  <h1>Team Users</h1>
	  <table class="pretty" style="margin-bottom:20px">
	    <tr>
	      <th style="width: 30%">login</th>
	      <th>first name</th>
	      <th>last name</th>
	      <th>email</th>
	    </tr>
	    <tr>
	      {% for user in team.users.all %}
	      <td>{{ user.username }}</td>
	      <td>{{ user.firstname }}</td>
	      <td>{{ user.lastname }}</td>
	      <td>{{ user.email }}</td>
	      {% endfor %}
	    </tr>
	  </table>
	</div>
      </div>

      <div class="grid_12 alpha button-bar ui-corner-all">
	<div class="content" style="text-align:left">
	  asd
	</div>
      </div>

    </div>

  </div>

  <div class="grid_4 pull_12">
    <div id="application-list" class="ui-widget-content">

      {% for team in teams %}
      <a class="element" href="/settings/team/{{ team.id }}">{{ team.name }}</a>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
