{% extends 'base.html' %}

{% block application %}
<div class="container_16" >
  <div class="grid_16">
    <div id="application-menu" >
	 <a href="/settings">settings</a>
	 <a href="/settings/teams">teams</a>
    </div>
  </div>
</div>

<div class="container_16">

  <div class="grid_12 push_4">
    <div class="grid_12 alpha">
      <div id="application-view-menu">
	<a class="details" href="#requirement/{{ requirement.pk }}/details/">details</a> |
	<a class="edit" href="#requirement/{{ requirement.pk }}/edit/">edit</a> |
      </div>
    </div>

    <!-- Just a place holder for dynamic input -->
    <div id="application-view">
      <div class="grid_12 alpha ui-corner-all">
	<div class="content" style="text-align:left">
	  <h1>Personal settings</h1>
	  <div>login: {{ user.username }}</div>
	  <div>first name: {{ user.first_name|default:"<i>not set</i>" }}</div>
	  <div>last name: {{ user.last_name|default:"<i>not set</i>" }}</div>
	  <div>email: {{ user.email|default:"<i>not set</i>" }}</div>
	  <!-- <input class="ui-button ui-widget ui-state-default -->
      	  <!-- 		ui-corner-all ui-button-text-only" -->
      	  <!-- 	 type="submit" value="New Requirement" /> -->
	  <h1>Profile settings</h1>
	  <h1>User Teams</h1>
	</div>
      </div>

      <div class="grid_12 alpha button-bar ui-corner-all">
	<div class="content" style="text-align:left">
	  asd
	</div>
      </div>

    </div>

  </div>

  <div class="grid_4 pull_12">
    <div id="application-list" class="ui-widget-content">

      {% for team in teams %}
      <a class="element" href="/settings/team/flower">{{ team.name }}</a>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
