{% extends 'base.html' %}

{% block js-include %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/glossary.js{{ STATIC_HASH }}"></script>
{% endblock %}

{% block css-include %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/glossary.css{{ STATIC_HASH }}"></link>
{% endblock %}


{% block application %}
<div class="grid_16">
  <div id="application-menu" >
    <ul>
      <li><a href="/store/">browse</a></li>
      <li><a href="/store/filter/">filter</a></li>
      <li class="active">glossary</li>
    </ul>
  </div>
</div>

<div class="container_16">
  <div class="grid_4">
    <div id="application-tree">
    </div>
    <a class="word-add-button"></a>
  </div>
  <div class="grid_12">
    <div id="application-view" class="container_16 clearfix">
    </div>
  </div>
</div>
{% endblock %}
