{% load compress %}
<div class="chart-wrapper">
  {% if error %}
  <div id="chart-name">{{ error }}</div>
  {% else %}
  <div id="chart-name">
    {{ chart_query.name }}
  </div>
  <div id="chart" class="{{ engine.name }}">
    <div id="loading-info">Loading chart... this can take awhile</div>
  </div>

  {% compress css %}
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/chart.css{{ STATIC_HASH }}"></link>
  {% if engine.get_css_include_template %}{% include engine.get_css_include_template %}{% endif %}
  {% endcompress %}

  {% compress js %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/underscore-min-1.1.4.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/simple.inheritance.js{{ STATIC_HASH }}"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/chart.js{{ STATIC_HASH }}"></script>
  <script type="text/javascript">
    var OPTIONS = {
      id: "{{ chart_query.id }}",
      projectSlug: "{{ chart_query.project.slug }}",
      chartid: "{{ charttype.id }}",
      searchParams: "{{ chart_query.query|safe }}"
    };
  </script>
  {% if engine.get_js_include_template %}{% include engine.get_js_include_template %}{% endif %}
  {% endcompress %}
  {% endif %}
</div>
