{% extends "chart/base.html" %}
{% load pagination_tags %}


{% block application-menu %}
<li><a href="#" class="button back-button">Go back to filter</a></li>
{{ block.super }}
{% endblock %}


{% block active-menu-item %}chart-chart-view{% endblock %}


{% block filter-js-include %}{% endblock %}


{% block external-js %}
<script type="text/javascript" src="{{ MEDIA_URL }}lib/ofc/swfobject.js"></script>
{{ block.super }}
{% endblock %}


{% block chart-js %}
  var OPTIONS = {
      projectSlug: PROJECT_SLUG,
      chartid: "{{ chartid }}",
      searchParams: "{{ request.GET.urlencode|safe }}"
  };
  swfobject.embedSWF(
      "{{ MEDIA_URL }}lib/ofc/open-flash-chart.swf", "chart",
      "1200", "600", "9.0.0", "{{ MEDIA_URL }}lib/ofc/expressInstall.swf", {
          "data-file": encodeURIComponent(URLFor.chartdata(OPTIONS))
       });
  ChartView($.extend(OPTIONS, { searchParamsJSON: {{ data|safe }} })).bind();
{% endblock %}


{% block application-view %}
<div class="container_16">
  <div class="chart-wrapper">
    <div class="pagination-wrapper">
      {% paginate %}
      <span class="onpage">{{ onpage_form.onpage }}</span>
    </div>
    <div id="chart"></div>
  </div>
</div>
{% endblock %}
