{% extends "chart/base.html" %}


{% block application-menu %}
<li><a href="#" class="button cancel-button">Cancel</a></li>
{{ block.super }}
<li><a href="#" class="button show-chart-button">Show chart</a></li>
{% endblock %}


{% block active-menu-item %}chart-filter-xaxis{% endblock %}


{% block chart-js %}
FilterXAxisView({
   projectSlug: PROJECT_SLUG,
   chartid: "{{ chartid }}"
}).bind();
{% endblock %}


{% block filter-control-buttons %}
{% if filter.has_groups %}
<input type="submit" value="Filter" class="search-button" />
<a href="{{ request.path }}" class="button">Reset query</a>
{% else %}
<div class="title" style="float: left; font-size: 2em;">X Axis filtering ({{ xaxismodel }})</div>
{% endif %}


<div class="add-new-group-form">{{ filter.new_group_form }}</div>
{% if not filter.has_groups %}
<div class="add-new-group-label">
  Select one group to start filtering
</div>
{% endif %}
<div class="clear"></div>
{% endblock %}
