{% extends "page.html" %}

{% block js-include %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/chart.js"></script>
{% endblock %}

{% block css-include %}{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/chart.css" type="text/css" media="screen" />
{% endblock %}

{% block project_detail %}
<div class="grid_16">
  <div id="application-menu" >
    <ul>
      {% block application-menu %}
      {% include "chart/_chart_wizzard_menu.html" with active_page="chart_data" %}
      <li><a href="#" class="button create-chart">Next</a></li>
      {% endblock %}
    </ul>
  </div>
</div>

<div class="container_16">
  <div class="chart-axis-models">
    <div class="hbox">
      <table>
	{{ form }}
      </table>
    </div>
  </div>
</div>
{% endblock %}
