{% extends "chart/wizzard_base.html" %}
{% load pagination_tags %}


{% block chart-add-button %}{% endblock %} {# no new chart button in "new" view #}


{% block wizzard-menu %}
<li><a href="#" class="button back-button">Go back to filter</a></li>
{{ block.super }}
{% endblock %}


{% block js-include %}
<script type="text/javascript" src="{{ MEDIA_URL }}lib/ofc/swfobject.js"></script>
{{ block.super }}
<script type="text/javascript">
  var OPTIONS = {
      projectSlug: PROJECT_SLUG,
      chartid: "{{ chartid }}",
      searchParams: "{{ request.GET.urlencode|safe }}"
  };
  swfobject.embedSWF(
      "{{ MEDIA_URL }}lib/ofc/open-flash-chart.swf", "chart",
      "100%", "600", "9.0.0", "{{ MEDIA_URL }}lib/ofc/expressInstall.swf", {
          "data-file": encodeURIComponent(URLFor.chartdata(OPTIONS))
       });
  $(document).ready(ChartView($.extend(OPTIONS, { searchParamsJSON: {{ data|safe }} })).bind);
</script>
{% endblock %}


{% block application-view %}
<div class="container_16">
  <div class="chart-save-panel">
    <form method="post" action="/project/{{ request.project.slug }}/chart/ajax/save/{% if chart_query_id %}{{ chart_query_id }}/{% endif %}">
      {% csrf_token %}
      {{ form.id }}
      {{ form.name.label_tag }}
      {{ form.name }}
      {{ form.charttype }}
      {{ form.query }}
      <input type="submit" name="submit" value="Save" class="button" />
    </form>
  </div>
  <div class="chart-wrapper">
    <div class="pagination-wrapper">
      {% paginate %}
      <span class="onpage">{{ onpage_form.onpage }}</span>
    </div>
    <div id="chart"></div>
  </div>
</div>
{% endblock %}
