<div id="application-view-menu">
  {% if view == "details" %}
  <span class="active" >details</span>
  {% else %}
  <a href="#testrundirectory/{{ obj.pk }}/details/">details</a>
  {% endif %}

  {% if view == "edit" %}
  <span class="active" >edit</span>
  {% else %}
  <a href="#testrundirectory/{{ obj.pk }}/edit/">edit</a>
  {% endif %}

  {% if view == "history" %}
  <span class="active">history</span>
  {% else %}
  <a href="#testrundirectory/{{ obj.pk }}/history/">history</a>
  {% endif %}

</div>

