<div id="addbugpanel" class="grid_16 clearfix">
  <form id="testcaserun-add-bug-form" method="post"
        action="/execute/ajax/testcaserun/{{ bugs_formset.instance.id }}/addbug/">
    {% csrf_token %}
    <div class="left">{{ testcaserun_add_bug_form.bugs.label_tag }}</div>
    <div class="right"><input type="submit" value="add" /></div>
    
    <div class="center">
      <div id="{{ testcaserun_add_bug_form.bugs.html_name }}_wrapper" class="field-wrapper">
        {{ testcaserun_add_bug_form.bugs }} <span class="error"></span>
      </div>
    </div>
    
  </form>
  
  <div class="grid_16">
    <form id="testcaserun-remove-bug-form" method="post" 
          action="/execute/ajax/testcaserun/{{ bugs_formset.instance.id }}/removebug/">
      {% csrf_token %}
      {{ bugs_formset.management_form }}
      <table class="display testcaserun-bugs-list">
        <thead>
          <tr>
            <th class="checkbox"></th>
            <th>id</th>
            <th>name</th>
            <th>status</th>
            <th>resolution</th>
          </tr>
        </thead>
        <tbody>
          {% for bug in bugs_formset.forms %}
          <tr>
            <td class="select">
              {{ bug.DELETE }}{% for hidden in bug.hidden_fields %}{{ hidden }}{% endfor %}
            </td>
            <td><a target="_blank" href="{{ bug.instance.get_absolute_url }}">{{ bug.instance.alias }}</a></td>
            <td><a target="_blank" href="{{ bug.instance.get_absolute_url }}">{{ bug.instance.name }}</a></td>
            <td>{{ bug.instance.status }}</td>
            <td>{{ bug.instance.resolution }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" value="remove" />
    </form>
  </div>
</div>
