<div class="application-view-content clearfix">
  <h1>test case: {{ testcaserun.name }}</h1>
  <div class="text-bullet">
    <span class="name">parent:</span>
    <span class="value">
      <a href="/store/#testcasedirectory/{{ testcaserun.origin.parent.id }}/details/">
	{{ testcaserun.origin.parent.path }}{{ testcaserun.origin.parent.name }}
      </a>
    </span>
  </div>
  <div class="text-bullet">
    <span class="name">origin test case:</span>
    <span class="value">
      <a href="/store/#testcase/{{ testcaserun.origin.id }}/details/">
        {{ testcaserun.origin.path }}{{ testcaserun.origin.name }}
      </a>
    </span>
  </div>
  <div class="text-bullet">
    <span class="name">description</span>
    <span class="value-block">
      {{ testcaserun.description|linebreaksbr }}
    </span>
  </div>

  <div class="text-bullet">
    <span class="name">status</span>
    <span class="value-block">
      <form id="testcaserun-status-form" method="post" 
            action="/execute/ajax/testcaserun/{{ testcaserun.id }}/setstatus/">
        {% csrf_token %}
          {{ testcaserun_status_form.status }}
      </form>
    </span>
  </div>
</div>
<div class="grid_16 alpha omega clearfix">
  <div class="application-view-content">
    <div class="step clearfix">
      <h2>precondition</h2>
      {{ testcaserun.precondition|linebreaksbr }}
    </div>
    {% for step in testcaserun.steps.all %}
    <div class="step clearfix">
      <h2>step {{ forloop.counter }}</h2>
      <div class="grid_8 alpha">
        <div class="description">{{ step.description|linebreaksbr }}</div>
      </div>
      <div class="grid_8 omega">
        <div class="excpected">{{ step.expected|linebreaksbr }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="grid_16 alpha omega">
  <div class="grid_8">
    <div class="application-view-content clearfix">
      <div id="current-bugs-table">
        <!-- place holder for current bugs table  -->
      </div>
      <!-- <h2>Add bug</h2> -->
      <!-- <div id="add-bug-form"> -->
      <!--   <form id="testcaserun-add-bug-form" method="post"  -->
      <!--         action="/execute/ajax/testcaserun/{{ testcaserun.id }}/addbug/"> -->
      <!--     {% csrf_token %} -->
      <!--     <div id="{{ testcaserun_add_bug_form.bugs.html_name }}_wrapper" class="field-wrapper"> -->
      <!--       <input type="submit" value="add" />{{ testcaserun_add_bug_form.bugs }} <span class="error"></span> -->
      <!--     </div> -->
      <!--   </form> -->
      <!-- </div> -->
    </div>
  </div>
  <div class="grid_8 clearfix">
    <div class="application-view-content">
      <h2>History Bugs</h2>
      <table class="display testcaserun-history-bugs-list">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>test run</th>
            <th>test case</th>
            <th>status</th>
            <th>resolution</th>
          </tr>
        </thead>
        <tbody>
          {% for bug in testcaserun.bugs_history.all %}
          <tr>
            <td><a href="{{ bug.get_absolute_url }}">{{ bug.alias }}</a></td>
            <td><a href="{{ bug.get_absolute_url }}">{{ bug.name }}</a></td>
            <td><a href="#testrun/{{ bug.testcaserun.parent.pk }}/execute/">{{ bug.testcaserun.parent.pk }}</a></td>
            <td><a href="#testrun/{{ bug.testcaserun.origin.pk }}/execute/">{{ bug.testcaserun.origin.pk }}</a></td>
            <td>{{ bug.status }}</td>
            <td>{{ bug.resolution }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  TESTCASERUN = {{ testcaserun.id }};
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/execute_testcaserun.js{{ STATIC_HASH }}"></script>
