<div id="application-view-menu">
  {% if view == "details" %}
  <span class="active" >details</span>
  {% else %}
  <a href="#testrun/{{ obj.pk }}/details/">details</a>
  {% endif %}
  {% if view == "edit" %}
  <span class="active" >edit</span>
  {% else %}
  <a href="#testrun/{{ obj.pk }}/edit/">edit</a>
  {% endif %}
  {% if view == "execute" %}
  <span class="active" >execute</span>
  {% else %}
  <a href="#testrun/{{ obj.pk }}/execute/">execute</a>
  {% endif %}
  {% if view == "notes" %}
  <span class="active" >notes</span>
  {% else %}
  <a href="#testrun/{{ obj.pk }}/notes">notes</a>
  {% endif %}
</div>
