<div id="application-view-menu">
  {% if view == "details" %}
  <span class="active" >details</span>
  {% else %}
  <a href="#testrun/{{ obj.pk }}/details/">details</a>
  {% endif %}

  {% if view == "edit" %}
  <span class="active" >edit</span>
  {% else %}
  <a class="{% if not perms.execute.change_testrun %}disable{% endif %}"
     href="#testrun/{{ obj.pk }}/edit/">edit</a>
  {% endif %}

  {% if view == "execute" %}
  <span class="active" >execute</span>
  {% else %}
  <a class="{% if not perms.execute.change_testrun %}disable{% endif %}"
     href="#testrun/{{ obj.pk }}/execute/">execute</a>
  {% endif %}

  {% if view == "notes" %}
  <span class="active" >notes</span>
  {% else %}
  <a class="{% if not perms.execute.change_testrun %}disable{% endif %}"
     href="#testrun/{{ obj.pk }}/notes/">notes</a>
  {% endif %}

  {% if view == "history" %}
  <span class="active" >history</span>
  {% else %}
  <a href="#testrun/{{ obj.pk }}/history/">history</a>
  {% endif %}

  {% for bound_view in BOUND_REPORTS.testrun %}
  {% if bound_view.pk == view %}
  <span class="active" >{{ bound_view.name }}</span>
  {% else %}
  <a href="#testrun/{{ obj.pk }}/{{ bound_view.id }}/">{{ bound_view.name }}</a>
  {% endif %}
  {% endfor %}

</div>
