{% load application_view_menu %}

<div id="application-view-header">
  <h1>test run: {{ testrun.name }}</h1>
</div>

{% application_view_menu testrun "execute" %}

<div class="grid_16">
  <div id="testcaserun-list" class="application-view-content">
    <table class="pretty">
      <tr>
	<th>name</th>
	<th>bugs</th>
        <th>status</th>
	<th class="checked">&nbsp;<th>
      </tr>
      {% for testcaserun in testrun.subchildren.all %}
      <tr class="row" id="testcaserun_{{ testcaserun.pk }}" style="background: {{ testcaserun.status.color }}">
	<td class="name">{{ testcaserun.name }}</td>
        <td class="bugs">{% for bug in testcaserun.bugs.all %}#{{ bug.id }} {% endfor %}</td>
	<td class="status">{{ testcaserun.status.name }}</td>
	<td><input type="checkbox"></td>
      </tr>
      {% endfor %}

    </table>
    <div style="text-align: right;">
      <select class="action-list" style="font-size: 1.2em">
	<option><i>-- action on selected --</i></option>
	<option value="clone">set status</option>
	<option value="remove">add bug</option>
	<option value="change_status">remove bug</option>
      </select>
    </div>
  </div>
</div>

<div class="grid_16"> 
  <div id="testcaserun-details"> 
  </div>
</div>

<script type="text/javascript" src="{{ MEDIA_URL }}js/execute_testrun_execute.js{{ STATIC_HASH }}"></script>
