{% load application_view_menu %}
<div id="application-view-header">
  <h1>test run directory
    {% if testrundirectory_form.instance.id %}: {{ testrundirectory_form.instance.name }}{% endif %}
  </h1>
</div>

{% if testrundirectory_form.instance.id %}
{% application_view_menu testrundirectory_form.instance "edit" %}
{% else %}
<div id="application-view-menu">
  <span class="active">new</span>
</div>
{% endif %}

<form id="testrundirectory_form"
      action="{% if testrundirectory_form.instance.id %}
              /execute/ajax/testrundirectory/{{ testrundirectory_form.instance.id }}/edit/valid/
              {% else %}
              /execute/ajax/testrundirectory/new/valid/
              {% endif %}"
      method="post">{% csrf_token %}

  <div class="application-view-content">
    {% for field in testrundirectory_form %}
    <div id="{{ field.html_name }}_wrapper" class="field-wrapper">
      {{ field.label_tag }}: <span class="error"></span>
      {{ field }}
    </div>
    {% endfor %}
  </div>
  
  <div id="application-view-footer" class="application-view-content clearfix">
    <div class="grid_16 right clearfix">
      <input type="submit" name="Executed" value="Save" />
    </div>
  </div>

</form>
<script type="text/javascript" src="{{ MEDIA_URL }}js/execute_testrun_directory_edit.js{{ STATIC_HASH }}"></script>
