{% load application_view_menu %}
{% load webdesign %}
<div id="application-view-header">
  <h1>test run: {{ testrun_form.instance.name }}</h1>
</div>

{% application_view_menu testrun_form.instance "notes" %}

<form id="testrun_form"
      action="/execute/ajax/testrun/{{ testrun_form.instance.id }}/notes/valid/" method="post">
  {% csrf_token %}

  <div class="application-view-content">
    <div class="field">
      {{ testrun_form.notes.label_tag }}:
      {{ testrun_form.notes }}
    </div>
  </div>

  <div id="application-view-footer" class="application-view-content ">
    <div class="right">
      <input type="submit" value="Save" />
    </div>
  </div>

</form>
<script type="text/javascript" src="{{ MEDIA_URL }}js/execute_testrun_notes.js{{ STATIC_HASH }}"></script>
