{% load application_view_menu %}
<div id="application-view-header">
  <h1>test run
    {% if testrun_form.instance.id %}: {{ testrun_form.instance.name }}{% endif %}
  </h1>
</div>

{% if testrun_form.instance.id %}
{% application_view_menu testrun_form.instance "edit" %}
{% else %}
<div id="application-view-menu">
  <span class="active">new</span>
</div>
{% endif %}

<form id="testrun_form"
      action="{% if testrun_form.instance.id %}
              /execute/ajax/testrun/{{ testrun_form.instance.id }}/edit/valid/
              {% else %}
              /execute/ajax/testrundirectory/newtestrun/valid/
              {% endif %}"
      method="post">{% csrf_token %}

  <div class="application-view-content">
    {% for field in testrun_form %}
    <div id="{{ field.html_name }}_wrapper" class="field-wrapper">
      {{ field.label_tag }}: <span class="error"></span>
      {{ field }}
    </div>
    {% endfor %}
  </div>
  
  <div class="grid_16 clearfix">
    <div class="application-view-content">
      <div class="right">
        <input type="submit" name="Executed" value="Save"/>
      </div>
    </div>
  </div>

  <div class="grid_16 clearfix">
    <div class="grid_8 clearfix">
      <div class="connected-testcases application-view-content">
        <h2>connected testcase</h2>
        <table class="display">
          <thead>
            <tr>
              <th class="checkbox">
                <input name="select-all" type="checkbox"/>
              </th>
	      <th>id</th>
              <th>path</th>
	      <th>name</th>
	      <th>status</th>
            </tr>
          </thead>
          <tbody>
            {% for test_case in connected_test_cases %}
            <tr class="{% cycle 'odd' 'even' %}" style="background: {{ test_case.status.color }}">
              <td class="select">
                <input type="checkbox" class="modify" value="{{ test_case.origin.id }}"/>
                <input type="hidden" name="connected_test_case" value="{{ test_case.origin.id }}"/>
              </td>
	      <td class="id">
                {{ test_case.origin.id }}
              </td> 
              <td class="path">
                <a href="/store/#testcasedirectory/{{ test_case.parent.pk }}/details/">
                  {{ test_case.origin.path }}
                </a>
              </td>
              <td class="name">
                <a href="/store/#testcase/{{ test_case.origin.pk }}/details/">
                  {{ test_case.name }}
                </a>
              </td>
	      <td class="status">
                {{ test_case.status }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a id="remove-testcases-button" class="button">remove</a>
      </div>
    </div>
    
    <div class="grid_8 clearfix">
      <div class="available-testcases application-view-content">
        <h2>available testcase</h2>
        <table class="display">
          <thead>
            <tr>
              <th class="checkbox">
                <input name="select-all" type="checkbox"/>
              </th>
	      <th>id</th>
              <th>path</th>
	      <th>name</th>
            </tr>
          </thead>
          <tbody>
            {% for test_case in available_test_cases %}
            <tr class="{% cycle 'odd' 'even' %}">
              <td class="select">
                <input type="checkbox" class="modify" value="{{ test_case.id }}"/>
                <input type="hidden" name="available_test_case" value="{{ test_case.id }}" />
              </td>
	      <td class="id">{{ test_case.id }}</td>
              <td class="path"><a href="/store/#testcasedirectory/{{ test_case.parent.pk }}/details/">
                  {{ test_case.path }}
              </a></td>
              <td class="name"><a href="/store/#testcase/{{ test_case.pk }}/details/">
                  {{ test_case.name }}
              </a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a id="add-testcases-button" class="button">add</a>
      </div>
    </div>
  </div>
  
  <div class="grid_16 clearfix">
    <div id="application-view-footer" class="application-view-content">
      <div class="right">
        <input type="submit" name="Executed" value="Save"/>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript" src="{{ MEDIA_URL }}js/execute_testrun_edit.js{{ STATIC_HASH }}"></script>
