{% load application_view_menu %}
<div id="application-view-header">
  <h1>test run directory: {{ directory.name }}</h1>
</div>

{% application_view_menu directory "details" %}

<div class="application-view-content">
  <div class="text-bullet">
    <span class="name">full name:</span>
    <span class="value">{{ directory.path }}{{ directory.name }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">description</span>
    <span class="value-block">{{ directory.description|default:"<i>not set</i>"|linebreaksbr }}</span>
  </div>

  <div class="text-bullet">
    <span class="name">children:</span>
  </div>
  
  <table class="display">
    <thead>
      <tr>
        <th class="icon">&nbsp;</th>
        <th class="id">id</th>
        <th>path</th>
        <th>name</th>
        <th>modified</th>
        <th>created</th>
      </tr>
    </thead>
    <tbody>
    {% for child in directory.children.all %}
    <tr class="directory">
      <td>
        <span class="ui-icon ui-icon-folder-collapsed"></span>
      </td>
      <td>{{ child.pk }}</td>
      <td><a href="#testrundirectory/{{ child.pk }}/details/">{{ child.path }}</a></td>
      <td><a href="#testrundirectory/{{ child.pk }}/details/">{{ child.name }}</a></td>
      <td class="path">{{ child.modified_time }}</td>
      <td class="path">{{ child.created_time }}</td>
    </tr>
    {% endfor %}
    {% for child in directory.subchildren.all %}
    <tr>
      <td>
        <span class="ui-icon ui-icon-document"></span>
      </td>
      <td>{{ child.pk }}</td>
      <td><a href="#testrundirectory/{{ child.directory.pk }}/details/">{{ child.path }}</a></td>
      <td><a href="#testrun/{{ child.pk }}/details/">{{ child.name }}</a></td>
      <td>{{ child.modified_time }}</td>
      <td>{{ child.created_time }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div id="application-view-footer" class="application-view-content">
  <div class="right">
    <a class="button" href="#testrundirectory/{{ directory.pk }}/newtestrun/" >create test run</a>
    <a class="button" href="#testrundirectory/{{ directory.pk }}/new/" >create test case directory</a>
  </div>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}js/execute_testrun_directory_details.js{{ STATIC_HASH }}"></script>
