{% load application_view_menu %}
{% load execute %}
<div id="application-view-header">
  <h1>test run: {{ testrun.name }}</h1>
</div>

{% application_view_menu testrun "details" %}

<div class="grid_16">
  <div class="application-view-content">
    {% passrate testrun %}
    
    <div class="text-bullet">
      <span class="name">full name:</span>
      <span class="value">{{ testrun.path }}{{ testrun.name }}</span>
    </div>
    <div class="text-bullet">
      <span class="name">status:</span>
      <span class="value"><i>not set</i></span>
    </div>
    <div class="text-bullet">
      <span class="name">notes:</span>
      <span class="value">{{ directory.description|default:"<i>not set</i>" }}</span>
    </div>
    {% for name, value in testrun.custom_fields.items %}
    <div class="text-bullet" style="text-align:justify">
      <span class="name">{{ name }}:</span>
      <span class="value">{{ value }}</span>
    </div>
    {% endfor %}
    <div class="text-bullet">
      <span class="name">test cases:</span>
    </div>
    
    <table class="display testcaserun-list">
      <thead>
        <tr>
          <th class="id">id</th>
          <th>path</th>
          <th>name</th>
	  <th>status</th>
          <th>modified</th>
          <th>created</th>
        </tr>
      </thead>
      <tbody>
        {% for child in testrun.testcases.all %}
        <tr class="{% cycle 'odd' 'even' %}" style="background: {{ child.status.color }}">
	  <td class="id">{{ child.origin.id }}</td>
          <td class="path"><a href="/store/#testcasedirectory/{{ child.origin.parent.pk }}/details/">{{ child.origin.path }}</a></td>
	  <td class="name"><a href="/store/#testcase/{{ child.origin.pk }}/details/">{{ child.origin.name }}</a></td>
	  <td class="path">{{ child.status }}</td>
          <td class="path">{{ child.modified_time }}</td>
          <td class="path">{{ child.created_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}js/execute_testrun_details.js{{ STATIC_HASH }}"></script>
