{% load application_view_menu %}
<div id="application-view-header">
  <h1>test run directory: {{ directory.name }}</h1>
</div>

{% application_view_menu directory "details" %}

<div class="application-view-content">
  <div class="text-bullet">
    <span class="name">full name:</span>
    <span class="value">{{ directory.path }}{{ directory.name }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">description</span>
    <span class="value-block">{{ directory.description|default:"<i>not set</i>" }}</span>
  </div>
  <table class="pretty ui-corner-all" style="margin-top: 20px">
    <tr>
      <th></th>
      <th>Path</th>
      <th>Name</th>
    </tr>
    {% for child in directory.children.all %}
    <tr class="directory">
      <td><span class="ui-icon ui-icon-folder-collapsed"></span></td>
      <td><a href="#testrundirectory/{{ child.pk }}/details/">{{ child.path }}</a></td>
      <td><a href="#testrundirectory/{{ child.pk }}/details/">{{ child.name }}</a></td>
    </tr>
    {% endfor %}
    {% for child in directory.subchildren.all %}
    <tr>
      <td class="icon"><span class="ui-icon ui-icon-document"></span></td>
      <td class="path"><a href="#testrundirectory/{{ child.directory.pk }}/details/">{{ child.path }}</a></td>
      <td><a href="#report/{{ child.pk }}/details/">{{ child.name }}</a></td>
    </tr>
    {% endfor %}
  </table>

</div>

<div id="application-view-footer" class="grid_16 clearfix">
  <div class="prefix_8 grid_8 right">
    <a class="button" href="#testrun/{{ directory.pk }}/new/" >create test run</a>
    <a class="button" href="#testrundirectory/{{ directory.pk }}/new/" >create test case directory</a>
  </div>
</div>
