{% load application_view_menu %}
<div id="application-view-header">
  <h1>test run: {{ testrun.name }}</h1>
</div>

{% application_view_menu testrun "details" %}

<div class="grid_16">
  <div class="application-view-content">
    <div class="text-bullet">
      <span class="name">full name:</span>
      <span class="value">{{ testrun.path }}{{ testrun.name }}</span>
    </div>
    <div class="text-bullet">
      <span class="name">pass rate:</span>
      <span class="value"><i>not set</i></span>
    </div>
    <div class="text-bullet">
      <span class="name">status:</span>
      <span class="value"><i>not set</i></span>
    </div>
    <div class="text-bullet">
      <span class="name">notes:</span>
      <span class="value-block">{{ directory.description|default:"<i>not set</i>" }}</span>
    </div>
    <div class="text-bullet">
      <span class="name">test cases:</span>
    </div>
    <table cellpadding="0" cellspacing="0" class="display data">
      <thead>
        <tr>
          <th>id</id>
	  <th>path</th>
          <th>name</th>
	  <th>status</th>
          <th>modified</th>
          <th>created</th>
        </tr>
      </thead>
      <tbody>
        {% for child in testrun.subchildren.all %}
        <tr class="{% cycle 'odd' 'even' %}">
	  <td class="id">{{ child.id }}</td>
          <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/">{{ child.path }}</a></td>
	  <td class="name"><a href="#testrun/{{ child.parent.pk }}/details/">{{ child.name }}</a></td>
	  <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/"></a></td>
          <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/"></a>{{ child.modified_time }}</td>
          <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/"></a>{{ child.created_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

