{% load application_view_menu %}
<div id="application-view-header">
  <h1>test run: {{ testrun.name }}</h1>
</div>

{% application_view_menu testrun "details" %}

<div class="grid_16">
  <div class="application-view-content">
    <div class="text-bullet">
      <span class="name">directory:</span> 
      <span class="value">{{ testrun.path }}</span>
    </div>
    <div class="text-bullet">
      <span class="name">pass rate:</span>
      <span class="value"><i>not set</i></span>
    </div>
    <div class="text-bullet">
      <span class="name">status:</span>
      <span class="value"><i>not set</i></span>
    </div>

    <table class="pretty ui-corner-all" style="margin-top: 20px">
      <tr>
	<th></th>
	<th>Path</th>
	<th>Status</th>
      </tr>
      {% for child in testrun.testcaserun_set.all %}
      <tr>
	<td class="icon"><span class="ui-icon ui-icon-document"></span></td>
	<td class="path"><a href="#testrun/{{ child.directory.pk }}/details/">{{ child.name }}</a></td>
	<td class="path"><a href="#testrun/{{ child.directory.pk }}/details/"></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
