{% load application_view_menu %}
<div id="application-view-header">
  <h1>test run
    {% if testrun_form.instance.id %}: {{ testrun_form.instance.name }}{% endif %}
  </h1>
</div>

{% if testrun_form.instance.id %}
{% application_view_menu testrun_form.instance "edit" %}
{% else %}
<div id="application-view-menu">
  <span class="active">new</span>
</div>
{% endif %}

<form id="testrun_form"
      action="{% if testrun_form.instance.id %}
              /execute/ajax/testrun/{{ testrun_form.instance.id }}/edit/valid/
              {% else %}
              /execute/ajax/testrun/new/valid/
              {% endif %}"
      method="post">{% csrf_token %}

  <div class="application-view-content">
    {% for field in testrun_form %}
    <div id="{{ field.html_name }}_wrapper" class="field-wrapper">
      {{ field.label_tag }}: <span class="error"></span>
      {{ field }}
    </div>
    {% endfor %}
  </div>
  
  <div class="grid_16 clearfix">
    <div class="grid_8 clearfix">
      <div class="application-view-content">
        <h2>connected testcase</h2>
        <table cellpadding="0" cellspacing="0" class="display">
          <thead>
            <tr>
	      <th></th>
	      <th>name</th>
	      <th>status</th>
              <th>modified</th>
              <th>created</th>
            </tr>
          </thead>
          <tbody>
            {% for child in testrun.subchildren.all %}
            <tr class="{% cycle 'odd' 'even' %}">
	      <td class="id">{{ child.id }}</td>
              <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/">{{ child.name }}</a></td>
	      <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/"></a></td>
              <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/"></a>{{ child.modified_time }}</td>
              <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/"></a>{{ child.created_time }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="grid_8 clearfix">
      <div class="application-view-content">
        <h2>available testcase</h2>
        
        <table cellpadding="0" cellspacing="0" class="display">
          <thead>
            <tr>
	      <th></th>
	      <th>name</th>
	      <th>status</th>
              <th>modified</th>
              <th>created</th>
            </tr>
          </thead>
          <tbody>
            {% for child in testrun.subchildren.all %}
            <tr class="{% cycle 'odd' 'even' %}">
	      <td class="id">{{ child.id }}</td>
              <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/">{{ child.name }}</a></td>
	      <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/"></a></td>
              <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/"></a>{{ child.modified_time }}</td>
              <td class="path"><a href="#testrun/{{ child.parent.pk }}/details/"></a>{{ child.created_time }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="grid_16 clearfix">
    <div id="application-view-footer" class="application-view-content">
      <div class="right">
        <input type="submit" name="Executed" value="Save"/>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript" src="{{ MEDIA_URL }}js/execute_testrun_edit.js{{ STATIC_HASH }}"></script>
<!-- <script> -->
  <!-- $(function () { -->
  <!-- $("#testcase-add-view-tree").jstree({ -->
  <!-- "core" : { "initially_open" : [ "root" ] }, -->
  <!-- "html_data" : { -->
  <!-- "data" : "<li id='root'><a href='#'>Root node</a><ul><li><a href='#'>Child node</a></li></ul></li>" -->
  <!-- }, -->
  <!-- "plugins" : [ "themes", "html_data","checkbox" ] -->
  <!-- }); -->

  <!-- $(".switch-view").click( function() { -->
  <!--     $("#testcase-add-view-tree, #testcase-add-view-table").toggle(); -->
  <!-- }); -->
<!-- </script> -->
