{% load application_view_menu %}

<div id="application-view-header">
  <h1>test run: {{ testrun.name }}</h1>
</div>

{% application_view_menu testrun "execute" %}

<div class="grid_16">
  <div id="testcaserun-list" class="application-view-content">
    <table class="display">
      <thead>
        <tr>
          <th class="no-soring"></th>
          <th>id</th>
          <th>path</th>
          <th>name</th>
          <th>status</th>
          <th>bugs</th>
          <th>modified</th>
          <th>created</th>
        </tr>
      </thead>
      <tbody>
      {% for testcaserun in testrun.subchildren.all %}
      <tr id="testcaserun_{{ testcaserun.id }}" class="{% cycle 'odd' 'even' %}"
          style="background: {{ testcaserun.status.color }}">
        <td><input type="checkbox"></td>
        <td>{{ testcaserun.origin.id }}</td>
        <td>{{ testcaserun.origin.path }}</td>
        <td class="name">{{ testcaserun.name }}</td>
        <td class="status">{{ testcaserun.status.name }}</td>
        <td class="bugs">{% for bug in testcaserun.bugs.all %}#{{ bug.alias }} {% endfor %}</td>
        <td>{{ testcaserun.status.modified_time }}</td>
        <td>{{ testcaserun.status.created_time }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <div style="text-align: right;">
      <select class="action-list" style="font-size: 1.2em">
	<option><i>-- action on selected --</i></option>
	<option value="clone">set status</option>
	<option value="remove">add bug</option>
	<option value="change_status">remove bug</option>
      </select>
    </div>
  </div>
</div>

<div class="grid_16"> 
  <div id="testcaserun-details"> 
  </div>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}js/execute_testrun_execute.js{{ STATIC_HASH }}"></script>
