Django==1.3
Fabric==1.0.0
Pygments==1.4
distribute==0.6.15
django-debug-toolbar==0.8.4
django-filter==0.5.3
-e git+https://github.com/django-mptt/django-mptt.git@bda85ec3fa9ecb2d083ca27dfe4cf7d449805f02#egg=django_mptt-0.5.pre-py2.6-dev
django-nose==0.1.2
django-reversion==1.3.3
django-social-auth==0.3.10
django-tables==0.2
httplib2==0.6.0
ipython==0.10.1
networkx==1.4
nose==1.0.0
oauth2==1.5.167
paramiko==1.7.6
pycrypto==2.3
python-openid==2.2.5
wsgiref==0.1.2
yolk==0.4.1
