<form id="organization_users_form" method="post" action="/settings/users/">
  {% csrf_token %}
  {{ formset.management_form }}
  <table class="display">
    <thead>
      <tr>
        <th>username</th>
        <th>full name</th>
        <th>email</th>
        <th>role</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      {% for form in formset.forms %}
      <tr>
        <td>{{ form.id }}{{ form.instance.user }}</td>
        <td>{{ form.instance.user.first_name }} {{ form.instance.user.last_name }}</td>
        <td>{{ form.instance.user.email }}</td>
        <td>{{ form.role }}</td>
        <td>{{ form.DELETE }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" class="button" value="Save"/>
</form>
<script type="text/javascript" src="{{ MEDIA_URL }}js/projects_organization_users.js{{ STATIC_HASH }}"></script>
