{% extends 'projects/base.html' %}

{% block projects-base %}
<div id="projects">
  <div class="container_16">
    <div class="grid_8">
      <div class="application-view-content panel" style="border: 1px solid grey">
        <h1>Your activity</h1>
        {% for revision in revisons %}
        <div class="activity-log">
          <div class="date">
            {{ revision.date_created }}
          </div>

          <div class="message">
            <span class="object">{% for version in revision.version_set.all %}
              {% if forloop.last %}{{ version.content_type|capfirst}}{% endif %}{% endfor %}</span>
            {{ revision.comment }}
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
    <div class="grid_8">
      <div class="application-view-content panel" style="border: 1px solid grey">
        <h1>Your Projects</h1>
        {% for project in project_list %}
        <div class="project">
          <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
        </div>
        {% endfor %}
        <a class="project-add-button" href="{% url project_new %}"></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
