{% extends 'base.html' %}

{% block application %}
<div class="container_16" >
  <div class="grid_16">
    <div id="application-menu" >
	 <a href="/settings">settings</a>
	 <a href="/settings/teams">teams</a>
    </div>
  </div>
</div>

<div class="container_16">

  <div class="grid_12 push_4">
    <div class="grid_12 alpha">
      <div id="application-view-menu">
	<a class="details" href="#requirement/{{ requirement.pk }}/details/">details</a> |
	<a class="edit" href="#requirement/{{ requirement.pk }}/edit/">edit</a> |
      </div>
    </div>

    <!-- Just a place holder for dynamic input -->
    <div id="application-view">
      <div class="grid_12 alpha ui-corner-all">
	<div class="content" style="min-height: 357px;">

	  <div style="color:#C0C0C0;
		      font-size:2em;
		      margin:148px 0 0 403px;">Select Team
	  </div>
	</div>
      </div>

      <div class="grid_12 alpha button-bar ui-corner-all">
	<div class="content" style="text-align:left">
	  &nbsp;
	</div>
      </div>

    </div>

  </div>

  <div class="grid_4 pull_12">
    <div id="application-list" class="ui-widget-content">

      {% for team in teams %}
      <a class="element" href="/settings/team/{{ team.id }}">{{ team.name }}</a>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
