<h1>Project users</h1>
<ul class="fieldpills">
  <li>
    {{ project.owner.username }}
    (<a href="mailto:{{ project.owner.email }}">{{ project.owner.email }}</a>)
  </li>

  {% for user in project.team.all %}
  <li>
    {{ user.username }}
    (<a href="mailto:{{ project.owner.email }}">{{ user.email }}</a>)
    <a href="{% url project_users project.slug %}{{ user.username }}/remove/" class="delete">remove user</a>
  </li>
  {% endfor %}

  <li class="add-user">
    <form id="project_users" action="{% url project_users project.slug %}" method="post">{% csrf_token %}
      <div class="error"></div>
      {{ form.username }} <input type="submit" value="add" />
    </form>
  </li>
</ul>
<script type="text/javascript" src="{{ MEDIA_URL }}js/projects_project_detail_users.js{{ STATIC_HASH }}"></script>
