<div id="application-view-menu">
  {% if view == "details" %}
  <span class="active" >details</span>
  {% else %}
  <a href="#testcase/{{ obj.pk }}/details/">details</a>
  {% endif %}

  {% if view == "edit" %}
  <span class="active" >edit</span>
  {% else %}
  <a href="#testcase/{{ obj.pk }}/edit/">edit</a>
  {% endif %}
  
  {% if view == "attachments" %}
  <span class="active" >attachments</span>
  {% else %}
  <a href="#testcase/{{ obj.pk }}/attachments/">attachments</a>
  {% endif %}
</div>
