{% load application_view_menu %}
<div id="application-view-header">
  <h1>test case: {{ testcase.name }}</h1>
</div>

{% application_view_menu testcase "edit" %}

<form id="testcase_form" action="/store/ajax/testcase/{{ testcase.id }}/edit/valid/" method="post"> 
  <div class="application-view-content">
    
    {% for field in testcase_form %}
    <div id="{{ field.html_name }}_wrapper" class="field-wrapper">
      {{ field.label_tag }}: <span class="error"></span>
      {{ field }}
    </div>
    {% endfor %}

    {{ testcasesteps_form.management_form }}
    {% for form in testcasesteps_form.forms %}
    {{ form.id }}
    <h2>Step {{ forloop.counter }}</h2>
    <div class="step clearfix">
      <div class="grid_8 description" style="">
        <div id="{{ form.description.html_name }}" class="field-wrapper">
          {{ form.description }}
          <a class="button add-step" href="#">add step</a>
          <a class="button add-translation" href="#">add translation</a>
          <a class="button add-attachment" href="#">add attachment</a>
        </div>
      </div>
      <div class="grid_8 excpected">
        <div id="{{ form.expected.html_name }}" class="field-wrapper" style="text-align:right">
          {{ form.expected }}
          <a class="button remove">remove</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div id="application-view-footer" class="grid_16 clearfix">
    <div class="grid_8 left">
      <input type="submit" name="Executed" value="Delete" />
    </div>
    <div class="grid_8 right">
      <input type="submit" name="Executed" value="Save" />
    </div>
  </div>
</form>

<div id="dialog-attachmets" title="Use attachment?">
  <p><span class="ui-icon ui-icon-alert" style="float:left;
	                                        margin:0 7px 20px 0;"></span>
    List of availiable attachments for current TestCase
  </p>
  <table class="pretty">
    <tr>
      <th>name</th><th>file</th><th>created time</th>
    </tr>
    <tr>
      <td><a class="add-this-attachment" href="#">xml_dump</a></td>
      <td>xml_file.xml</td>
      <td>{% now "jS F Y H:i" %}</td>
    </tr>
    <tr>
      <td><a class="add-this-attachment" href="#">message_dump</a></td>
      <td>messages.db</td>
      <td>{% now "jS F Y H:i" %}</td>
    </tr>
  </table>
</div>

<div id="dialog-translations" title="Add translation?">
  <p><span class="ui-icon ui-icon-alert" style="float:left;
	                                        margin:0 7px 20px 0;">
    </span>Search for logical strings/translations availiable attachments for project
  </p>
  <!-- <form action="#"> -->
    {{ glossary_word_search_form }}
    <input type="submit" value="Search"/>
  <!-- </form> -->
  <table class="pretty">
    <tr>
      <th>name</th><th>lng</th><th>translation</th>
    </tr>
    <tr>
      <td rowspan="4" style="vertical-align:top"><a class="add-translation">_open_mesagging_box_</a></td>
      <td>en</td>
      <td>Open Messaging Box</td>
    </tr>
    <tr>
      <td>pl</td>
      <td>Otwórz Wiadomości Przychodzące</td>
    </tr>
  </table>
</div>


<script>
$(function() {

  last_textarea = null;
  last_textarea_pointer = null;

  $('textarea').focusout( function() {
    last_textarea = this;
  });

  $('.add-translation').click( function() {
    $(last_textarea).text($(this).text());
  });

  $('.add-this-attachment').click( function() {
    $(last_textarea).text("#"+$(this).text());
  });

  $( "#dialog" ).dialog( "destroy" );

  $( "#dialog-attachmets" ).dialog({
    resizable: false,
    autoOpen: false,
    minHeight: 240,
    minWidth: 800,
    modal: true,
    position: ['center',100],
    buttons: { 
      Cancel: function() {
        $( this ).dialog( "close" )
      }
    }
  });

  $( "#dialog-translations" ).dialog({
    resizable: false,
    autoOpen: false,
    minHeight: 240,
    minWidth: 800,
    modal: true,
    position: ['center',100],
    buttons: { 
      Cancel: function() {
        $( this ).dialog( "close" )
      }
    }
  });

  $('.add-attachment').click( function() {
    $( "#dialog-attachmets" ).dialog('open');
  });

  $('.add-translation').click( function() {
    $( "#dialog-translations" ).dialog('open');
  });
  
  function showResponse(response, statusText, xhr, $form)  { 
    if(!response.success) {
      $(response.data).each(function(i, element) {
        $("#"+element[0]+"_wrapper").addClass("ui-state-error");
        $("#"+element[0]+"_wrapper .error").append(element[1]);
      });        
      $('#notification').jnotifyAddMessage({
        text: response.message,
        permanent: false,
        type: "error"
      });
    } else {
      $('#notification').jnotifyAddMessage({
        text: response.message,
        permanent: false,
        disappearTime: 2000
      });
      hash.node = response.data.current_id; // for new created objects go to details view 
      hash.view = "details" 
      hash.update();
      $('#application-tree').jstree('refresh',-1);
    }
  }
  
  $('#testcase_form').ajaxForm({ 
    success: showResponse 
  });
});
</script>
