{% load application_view_menu %}
<div id="application-view-header">
  <h1>test case: {{ testcase.name }}</h1>
</div>

{% application_view_menu testcase "edit" %}

<div class="step template clearfix">
  {{ testcasesteps_form.empty_form.id }}
  {{ testcasesteps_form.empty_form.testcase }}
  <h2 class="step-name">Step 0</h2>{{ testcasesteps_form.empty_form.sequence }}
  <div class="grid_8 description">
    <div id="{{ testcasesteps_form.empty_form.description.html_name }}_wrapper" class="field-wrapper">
      {{ testcasesteps_form.empty_form.description.label_tag}} <span class="error"></span>
      {{ testcasesteps_form.empty_form.description }}
    </div>
    <a class="button add-step">add step</a>
  </div>
  <div class="grid_8 excpected">
    <div id="{{ testcasesteps_form.empty_form.expected.html_name }}_wrapper" class="field-wrapper" style="text-align:right">
      {{ testcasesteps_form.empty_form.expected.label_tag}} <span class="error"></span>
      {{ testcasesteps_form.empty_form.expected }}
      delete: {{ testcasesteps_form.empty_form.DELETE }}
    </div>
  </div>
</div>

<form id="testcase_form" action="/store/ajax/testcase/{{ testcase.id }}/edit/valid/" method="post"> 
  <div class="application-view-content">
    
    {% for field in testcase_form %}
    <div id="{{ field.html_name }}_wrapper" class="field-wrapper">
      {{ field.label_tag }}: <span class="error"></span>
      {{ field }}
    </div>
    {% endfor %}
    
    {{ testcasesteps_form.management_form }}
    <a id="add-step-0" class="button add-step">add step</a>
    
    {% for form in testcasesteps_form.forms %}
    <div class="step clearfix">
      {{ form.id }}
      {{ form.testcase }}
      <h2 class="step-name">Step {{ forloop.counter }}</h2>{{ form.sequence }}
      <div class="grid_8 description">
        <div id="{{ form.description.html_name }}_wrapper" class="field-wrapper">
          {{ form.description.label_tag}} <span class="error"></span>
          {{ form.description }}
        </div>
        <a class="button add-step">add step</a>
      </div>
      <div class="grid_8 excpected">
        <div id="{{ form.expected.html_name }}_wrapper" class="field-wrapper" style="text-align:right">
          {{ form.expected.label_tag}} <span class="error"></span>
          {{ form.expected }}
          delete: {{ form.DELETE }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div id="application-view-footer" class="grid_16 clearfix">
    <div class="grid_8 left">
      <input type="submit" name="Executed" value="Delete" />
    </div>
    <div class="grid_8 right">
      <input type="submit" name="Executed" value="Save" />
    </div>
  </div>
</form>

<div id="dialog-attachmets" title="Use attachment?" style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left;
	                                        margin:0 7px 20px 0;"></span>
    List of availiable attachments for current TestCase
  </p>
  <table class="pretty">
    <tr>
      <th>name</th><th>file</th><th>created time</th>
    </tr>
    <tr>
      <td><a class="add-this-attachment" href="#">xml_dump</a></td>
      <td>xml_file.xml</td>
      <td>{% now "jS F Y H:i" %}</td>
    </tr>
    <tr>
      <td><a class="add-this-attachment" href="#">message_dump</a></td>
      <td>messages.db</td>
      <td>{% now "jS F Y H:i" %}</td>
    </tr>
  </table>
</div>

<div id="dialog-translations" title="Add translation?" style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left;
	                                        margin:0 7px 20px 0;">
    </span>Search for logical strings/translations availiable attachments for project
  </p>
  <!-- <form action="#"> -->
    {{ glossary_word_search_form }}
    <input type="submit" value="Search"/>
  <!-- </form> -->
  <table class="pretty">
    <tr>
      <th>name</th><th>lng</th><th>translation</th>
    </tr>
    <tr>
      <td rowspan="4" style="vertical-align:top"><a class="add-translation">_open_mesagging_box_</a></td>
      <td>en</td>
      <td>Open Messaging Box</td>
    </tr>
    <tr>
      <td>pl</td>
      <td>Otwórz Wiadomości Przychodzące</td>
    </tr>
  </table>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}js/store_testcase_edit.js{{ STATIC_HASH }}"></script>
