{% load webdesign %}
<div class="grid_16">
  <div id="application-view-menu">
    <a class="active" href="#testcase/{{ testcase.pk }}/details">details</a> |
    <a href="#testcase/{{ testcase.pk }}/edit">edit</a> |
    <a href="#testcase/{{ testcase.pk }}/attachments">attachments</a> |
  </div>
</div>

<div class="grid_16">
  <div class="application-view-content">
    <h1>test case: {{ testcase.name }}</h1>
    <div class="text-bullet">directory: {{ testcase.get_path }}</div>
    <div class="text-bullet">pass rate: <i>not set</i></div>
    <div class="text-bullet">status: <i>not set</i></div>

    <div class="grid_16 alpha omega">
      <div class="step clearfix">
	<h2>Precondition</h2>
	{% lorem 1 p %}
      </div>
      
      <div class="step clearfix">
      	<h2>Step 1</h2>
      	<div class="grid_8 alpha description">{% lorem 1 p random %}--------</div>
	<div class="grid_8 omega excpected">{% lorem 1 p random %}</div>
      </div>
      
      <div class="step clearfix">
      	<h2>Step 2</h2>
      	<div class="grid_8 alpha description">{% lorem 1 p random %}--------</div>
	<div class="grid_8 omega excpected">{% lorem 1 p random %}</div>
      </div>
    </div>

  </div>
</div>
