{% extends "base_filter.html" %}
{% load filtertags pagination_tags %}

{% block module-name %}{% block module-title%}{{ app_label }}{% endblock %}{% endblock %}

{% block application-menu %}
<li><a href="/{{ app_label }}/">browse</a></li>
<li class="active">filter</li>
{% endblock %}

{% block application-view %}
<form method="GET" class="filter-form">
  <div class="filter-forms">
    {% include "filter/_filter_groups.html" %}

    <div class="application-view-content">
      <input type="submit" value="Search" /> |
      <a href="/{{ app_label }}/filter/" class="button">Reset query</a>
      <div class="add-new-group-form">{{ filter.new_group_form }}</div>
    </div>
  </div>

  {% autopaginate data onpage %}
  {% create_table model_table_class data as table %}

  <div class="application-view-content results-container">
    <div class="list-control-top">
      <div class="onpage-form right">
	{{ onpage_form.onpage }}
      </div>
      {% paginate %}
      <div style="clear:both"></div>
    </div>
    <table class="display">
      <thead>
	<tr>
	  {% for column in table.columns %}
	  <th name="{{ column.name }}">{{ column }}</th>
	  {% endfor %}
	</tr>
      </thead>
      <tbody>
	{% for row in table.rows %}
	<tr>
	  {% for value in row %}
	  <td>{{ value }}</td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </tbody>
    </table>
    <div class="list-control-bottom">
      {% paginate %}
      <div style="clear:both"></div>
    </div>
  </div>
</form>
{% endblock %}
