
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
	margin-left: 0px;
	margin-right: 0px;
	width: 100.0%;


}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,.grid_16{
	display:inline;
	float: left;
	position: relative;
	margin-left: 0.5%;
	margin-right: 0.5%;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1{
	width:5.25% !important;
}

.container_16 .grid_2{
	width:11.5% !important;
}

.container_16 .grid_3{
	width:17.75% !important;
}

.container_16 .grid_4{
	width:24.0%;
}

.container_16 .grid_5{
	width:30.25% !important;
}

.container_16 .grid_6{
	width:36.5% !important;
}

.container_16 .grid_7{
	width:42.75% !important;
}

.container_16 .grid_8{
	width:49.0%;
}

.container_16 .grid_9{
	width:55.25% !important;
}

.container_16 .grid_10{
	width:61.5% !important;
}

.container_16 .grid_11{
	width:67.75% !important;
}

.container_16 .grid_12{
	width:74.0% !important;
}

.container_16 .grid_13{
	width:80.25% !important;
}

.container_16 .grid_14{
	width:86.5% !important;
}

.container_16 .grid_15{
	width:92.75% !important;
}

.container_16 .grid_16{
	width:99.0% !important;
}


.grid_1 .grid_1{
    width:98.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_2{
    width:198.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_3{
    width:298.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_4{
    width:398.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_5{
    width:498.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_6{
    width:598.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_7{
    width:698.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_8{
    width:798.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_9{
    width:898.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_10{
    width:998.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_11{
    width:1098.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_12{
    width:1198.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_13{
    width:1298.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_14{
    width:1398.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_15{
    width:1498.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_1 .grid_16{
    width:1598.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}



.grid_2 .grid_1{
    width:48.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_2{
    width:98.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_3{
    width:148.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_4{
    width:198.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_5{
    width:248.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_6{
    width:298.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_7{
    width:348.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_8{
    width:398.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_9{
    width:448.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_10{
    width:498.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_11{
    width:548.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_12{
    width:598.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_13{
    width:648.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_14{
    width:698.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_15{
    width:748.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_16{
    width:798.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}



.grid_3 .grid_1{
    width:31.3333333333%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_2{
    width:64.6666666667%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_3{
    width:98.0%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_4{
    width:131.333333333%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_5{
    width:164.666666667%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_6{
    width:198.0%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_7{
    width:231.333333333%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_8{
    width:264.666666667%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_9{
    width:298.0%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_10{
    width:331.333333333%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_11{
    width:364.666666667%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_12{
    width:398.0%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_13{
    width:431.333333333%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_14{
    width:464.666666667%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_15{
    width:498.0%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_16{
    width:531.333333333%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}



.grid_4 .grid_1{
    width:23.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_2{
    width:48.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_3{
    width:73.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_4{
    width:98.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_5{
    width:123.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_6{
    width:148.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_7{
    width:173.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_8{
    width:198.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_9{
    width:223.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_10{
    width:248.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_11{
    width:273.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_12{
    width:298.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_13{
    width:323.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_14{
    width:348.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_15{
    width:373.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_16{
    width:398.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}



.grid_5 .grid_1{
    width:18.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_2{
    width:38.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_3{
    width:58.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_4{
    width:78.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_5{
    width:98.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_6{
    width:118.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_7{
    width:138.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_8{
    width:158.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_9{
    width:178.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_10{
    width:198.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_11{
    width:218.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_12{
    width:238.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_13{
    width:258.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_14{
    width:278.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_15{
    width:298.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_16{
    width:318.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}



.grid_6 .grid_1{
    width:14.6666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_2{
    width:31.3333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_3{
    width:48.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_4{
    width:64.6666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_5{
    width:81.3333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_6{
    width:98.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_7{
    width:114.666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_8{
    width:131.333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_9{
    width:148.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_10{
    width:164.666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_11{
    width:181.333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_12{
    width:198.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_13{
    width:214.666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_14{
    width:231.333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_15{
    width:248.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_16{
    width:264.666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}



.grid_7 .grid_1{
    width:12.2857142857%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_2{
    width:26.5714285714%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_3{
    width:40.8571428571%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_4{
    width:55.1428571429%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_5{
    width:69.4285714286%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_6{
    width:83.7142857143%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_7{
    width:98.0%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_8{
    width:112.285714286%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_9{
    width:126.571428571%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_10{
    width:140.857142857%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_11{
    width:155.142857143%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_12{
    width:169.428571429%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_13{
    width:183.714285714%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_14{
    width:198.0%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_15{
    width:212.285714286%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_16{
    width:226.571428571%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}



.grid_8 .grid_1{
    width:10.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_2{
    width:23.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_3{
    width:35.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_4{
    width:48.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_5{
    width:60.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_6{
    width:73.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_7{
    width:85.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_8{
    width:98.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_9{
    width:110.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_10{
    width:123.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_11{
    width:135.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_12{
    width:148.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_13{
    width:160.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_14{
    width:173.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_15{
    width:185.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_16{
    width:198.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}



.grid_9 .grid_1{
    width:9.11111111111%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_2{
    width:20.2222222222%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_3{
    width:31.3333333333%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_4{
    width:42.4444444444%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_5{
    width:53.5555555556%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_6{
    width:64.6666666667%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_7{
    width:75.7777777778%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_8{
    width:86.8888888889%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_9{
    width:98.0%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_10{
    width:109.111111111%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_11{
    width:120.222222222%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_12{
    width:131.333333333%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_13{
    width:142.444444444%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_14{
    width:153.555555556%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_15{
    width:164.666666667%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_16{
    width:175.777777778%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}



.grid_10 .grid_1{
    width:8.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_2{
    width:18.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_3{
    width:28.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_4{
    width:38.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_5{
    width:48.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_6{
    width:58.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_7{
    width:68.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_8{
    width:78.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_9{
    width:88.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_10{
    width:98.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_11{
    width:108.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_12{
    width:118.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_13{
    width:128.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_14{
    width:138.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_15{
    width:148.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_16{
    width:158.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}



.grid_11 .grid_1{
    width:7.09090909091%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_2{
    width:16.1818181818%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_3{
    width:25.2727272727%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_4{
    width:34.3636363636%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_5{
    width:43.4545454545%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_6{
    width:52.5454545455%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_7{
    width:61.6363636364%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_8{
    width:70.7272727273%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_9{
    width:79.8181818182%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_10{
    width:88.9090909091%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_11{
    width:98.0%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_12{
    width:107.090909091%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_13{
    width:116.181818182%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_14{
    width:125.272727273%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_15{
    width:134.363636364%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_16{
    width:143.454545455%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}



.grid_12 .grid_1{
    width:6.33333333333%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_2{
    width:14.6666666667%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_3{
    width:23.0%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_4{
    width:31.3333333333%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_5{
    width:39.6666666667%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_6{
    width:48.0%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_7{
    width:56.3333333333%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_8{
    width:64.6666666667%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_9{
    width:73.0%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_10{
    width:81.3333333333%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_11{
    width:89.6666666667%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_12{
    width:98.0%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_13{
    width:106.333333333%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_14{
    width:114.666666667%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_15{
    width:123.0%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_16{
    width:131.333333333%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}



.grid_13 .grid_1{
    width:5.69230769231%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_2{
    width:13.3846153846%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_3{
    width:21.0769230769%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_4{
    width:28.7692307692%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_5{
    width:36.4615384615%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_6{
    width:44.1538461538%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_7{
    width:51.8461538462%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_8{
    width:59.5384615385%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_9{
    width:67.2307692308%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_10{
    width:74.9230769231%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_11{
    width:82.6153846154%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_12{
    width:90.3076923077%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_13{
    width:98.0%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_14{
    width:105.692307692%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_15{
    width:113.384615385%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_16{
    width:121.076923077%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}



.grid_14 .grid_1{
    width:5.14285714286%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_2{
    width:12.2857142857%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_3{
    width:19.4285714286%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_4{
    width:26.5714285714%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_5{
    width:33.7142857143%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_6{
    width:40.8571428571%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_7{
    width:48.0%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_8{
    width:55.1428571429%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_9{
    width:62.2857142857%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_10{
    width:69.4285714286%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_11{
    width:76.5714285714%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_12{
    width:83.7142857143%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_13{
    width:90.8571428571%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_14{
    width:98.0%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_15{
    width:105.142857143%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_16{
    width:112.285714286%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}



.grid_15 .grid_1{
    width:4.66666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_2{
    width:11.3333333333%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_3{
    width:18.0%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_4{
    width:24.6666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_5{
    width:31.3333333333%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_6{
    width:38.0%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_7{
    width:44.6666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_8{
    width:51.3333333333%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_9{
    width:58.0%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_10{
    width:64.6666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_11{
    width:71.3333333333%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_12{
    width:78.0%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_13{
    width:84.6666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_14{
    width:91.3333333333%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_15{
    width:98.0%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_16{
    width:104.666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}



.grid_16 .grid_1{
    width:4.25%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_2{
    width:10.5%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_3{
    width:16.75%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_4{
    width:23.0%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_5{
    width:29.25%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_6{
    width:35.5%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_7{
    width:41.75%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_8{
    width:48.0%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_9{
    width:54.25%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_10{
    width:60.5%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_11{
    width:66.75%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_12{
    width:73.0%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_13{
    width:79.25%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_14{
    width:85.5%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_15{
    width:91.75%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_16{
    width:98.0%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}






/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .prefix_1 {
	padding-left:6.25%;
}

    .container_16 .prefix_2 {
	padding-left:12.5%;
}

    .container_16 .prefix_3 {
	padding-left:18.75%;
}

    .container_16 .prefix_4 {
	padding-left:25.0%;
}

    .container_16 .prefix_5 {
	padding-left:31.25%;
}

    .container_16 .prefix_6 {
	padding-left:37.5%;
}

    .container_16 .prefix_7 {
	padding-left:43.75%;
}

    .container_16 .prefix_8 {
	padding-left:50.0%;
}

    .container_16 .prefix_9 {
	padding-left:56.25%;
}

    .container_16 .prefix_10 {
	padding-left:62.5%;
}

    .container_16 .prefix_11 {
	padding-left:68.75%;
}

    .container_16 .prefix_12 {
	padding-left:75.0%;
}

    .container_16 .prefix_13 {
	padding-left:81.25%;
}

    .container_16 .prefix_14 {
	padding-left:87.5%;
}

    .container_16 .prefix_15 {
	padding-left:93.75%;
}

    .container_16 .prefix_16 {
	padding-left:100.0%;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .suffix_1 {
	padding-right:6.25%;
}

    .container_16 .suffix_2 {
	padding-right:12.5%;
}

    .container_16 .suffix_3 {
	padding-right:18.75%;
}

    .container_16 .suffix_4 {
	padding-right:25.0%;
}

    .container_16 .suffix_5 {
	padding-right:31.25%;
}

    .container_16 .suffix_6 {
	padding-right:37.5%;
}

    .container_16 .suffix_7 {
	padding-right:43.75%;
}

    .container_16 .suffix_8 {
	padding-right:50.0%;
}

    .container_16 .suffix_9 {
	padding-right:56.25%;
}

    .container_16 .suffix_10 {
	padding-right:62.5%;
}

    .container_16 .suffix_11 {
	padding-right:68.75%;
}

    .container_16 .suffix_12 {
	padding-right:75.0%;
}

    .container_16 .suffix_13 {
	padding-right:81.25%;
}

    .container_16 .suffix_14 {
	padding-right:87.5%;
}

    .container_16 .suffix_15 {
	padding-right:93.75%;
}

    .container_16 .suffix_16 {
	padding-right:100.0%;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .push_1 {
	left:6.25%;
}

    .container_16 .push_2 {
	left:12.5%;
}

    .container_16 .push_3 {
	left:18.75%;
}

    .container_16 .push_4 {
	left:25.0%;
}

    .container_16 .push_5 {
	left:31.25%;
}

    .container_16 .push_6 {
	left:37.5%;
}

    .container_16 .push_7 {
	left:43.75%;
}

    .container_16 .push_8 {
	left:50.0%;
}

    .container_16 .push_9 {
	left:56.25%;
}

    .container_16 .push_10 {
	left:62.5%;
}

    .container_16 .push_11 {
	left:68.75%;
}

    .container_16 .push_12 {
	left:75.0%;
}

    .container_16 .push_13 {
	left:81.25%;
}

    .container_16 .push_14 {
	left:87.5%;
}

    .container_16 .push_15 {
	left:93.75%;
}

    .container_16 .push_16 {
	left:100.0%;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .pull_1 {
	right:6.25%;
}

    .container_16 .pull_2 {
	right:12.5%;
}

    .container_16 .pull_3 {
	right:18.75%;
}

    .container_16 .pull_4 {
	right:25.0%;
}

    .container_16 .pull_5 {
	right:31.25%;
}

    .container_16 .pull_6 {
	right:37.5%;
}

    .container_16 .pull_7 {
	right:43.75%;
}

    .container_16 .pull_8 {
	right:50.0%;
}

    .container_16 .pull_9 {
	right:56.25%;
}

    .container_16 .pull_10 {
	right:62.5%;
}

    .container_16 .pull_11 {
	right:68.75%;
}

    .container_16 .pull_12 {
	right:75.0%;
}

    .container_16 .pull_13 {
	right:81.25%;
}

    .container_16 .pull_14 {
	right:87.5%;
}

    .container_16 .pull_15 {
	right:93.75%;
}

    .container_16 .pull_16 {
	right:100.0%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}