html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border:0 none;
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

body {
    font-size:65.5%;
    font-family:Verdana,Arial,sans-serif;
}


#header {
    margin-bottom:5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}

#project-menu {
    margin-bottom:5px;
    text-align: right;
    border-left: 0px;
    border-right: 0px;
}

#application-menu {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 5px 10px;
}

#application-view {
    min-height: 800px;
    border-left: 1px solid #ccc;
    padding:10px;
}

#application-tree {
    padding: 10px;
}

#footer{
    border-top: 1px solid #ccc;
}
