html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border:0 none;
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

body {
    font-size:10px;
    font-family:Verdana,Arial,sans-serif;
}


#project-menu {
    margin: 25px 0px 0px 0px;
}
#project-menu a:link,
#project-menu a:visited{
    text-decoration: none;
    color: #666;
    font-weight:bold;
}

#project-menu a:hover{
    text-decoration: underline;
}

#logo {
    color:#777777;
    font-size:3em;
    padding:2px;
}


#application-menu {
    padding:0.6em 1.1em;
    line-height:1.4;
    margin-bottom:10px;
    text-align: left;
    border-top:1px solid #ccc;
    /* for webkit browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
     /* for firefox 3.6+ */
    background: -moz-linear-gradient(top,  #eee,  #fff);
}

#application-menu a,
#application-menu a:link {
    font-weight: bold;
    color: #555;
    text-decoration: none;
    margin: 0px 7px 0px 3px;
}

#application-menu a:hover {
    text-decoration: underline;
    font-weight: bold;
}


#application-view-menu {
    padding: 5px 10px;
}

#application-view-menu .active{
    color: #666666;
    font-weight: bold;
}

#application-view .alpha{
    /* border: 1px solid; */
}

#application-view .content {
    /* min-height: 700px; */
    /* border-left: 1px solid #ccc; */
    padding: 10px 10px;
}

#application-view h1 {
    font-size: 1.2em;
    margin-left: 15px;
    margin-top: 7px;
}

.button-bar {
    /* padding: 10px 27px; */
    /* border-left:1px solid; */
    border-bottom:1px solid #ccc;
    /* border-top: 1px solid #ccc; */
        /* border-bottom: 1px solid #ccc; */

    /* for non-css3 browsers */
    background: #999;
    /* for IE */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
    /* for webkit browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
     /* for firefox 3.6+ */
    background: -moz-linear-gradient(top,  #fff,  #eee);
}


#application-tree {
    padding: 10px;
    min-height: 400px;
}

#footer {
    /* background: #eee; */
    margin-top: 5px;
    padding: 7px 7px 40px;
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */

    /* /\* for non-css3 browsers *\/ */
    /* background: #999; */
    /* /\* for IE *\/ */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff'); */
    /* /\* for webkit browsers *\/ */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff)); */
    /*  /\* for firefox 3.6+ *\/ */
    /* background: -moz-linear-gradient(top,  #eee,  #fff); */

}

table.pretty {
    width:100%;
    border-collapse: collapse;
    margin-bottom: 10px;

}

table.pretty .icon {
    width: 16px;
}

table.pretty .path {
    width:45%;
}

table.pretty td {
    border: 1px white solid;
    padding: 0.2em;
    background: whitesmoke;
    vertical-align:middle;
}

table.pretty tr.directory td {
    background: #E8E8E8;
}

table.pretty th {
    text-align: left;
    padding: 0.2em 0 0.1em;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

table.pretty caption {
    margin-left: inherit;
    margin-right: inherit;
}

table.pretty th.checked {
    width:28px;
}

table a,
table a:hover,
table a:link,
table a:visited {
    font-weight: bold;
    color: black;
    font-size: 1.0em;
}

.content select,
.content input:not(.ui-button):not([type=checkbox]),
.content textarea {
    width: 99%;
    font-size: 11px;
}

label {
    display:block;
    font-size:1.1em;
    margin-top: 5px;
}
