{% load application_view_menu %}
<div id="application-view-header">
  <h1>requirement: {{ requirement.name }}</h1>
</div>

{% application_view_menu requirement "details" %}

<div class="application-view-content clearfix">
  <div class="text-bullet">
    <span class="name">full name:</span>
    <span class="value">{{ requirement.path }}{{ requirement.name }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">directory:</span>
    <span class="value"> {{ requirement.path }}</span>
  </div>
  <div class="text-bullet" style="text-align:justify">
    <span class="name">description:</span>
    <span class="value-block">{{ requirement.description|default:"<i>not set</i>"|linebreaksbr }}</span>
  </div>
</div>

<div class="application-view-content clearfix">
  <h2>requirements:</h2>
  <table class="display">
    <thead>
      <tr>
        <th class="icon">&nbsp;</th>
        <th class="id">id</th>
        <th>name</th>
        <th>modified</th>
        <th>created</th>
      </tr>
    </thead>
    <tbody>
      {% for child in requirement.children.all %}
      <tr>
        <td><img src="{{ MEDIA_URL }}images/requirement_icon_small.png"></td>
        <td><a href="#requirement/{{ child.id }}/details/">{{ child.id }}</a></td>
        <td><a href="#requirement/{{ child.id }}/details/">{{ child.name }}</a></td>
        <td class="path">{{ requirement.modified_time }}</td>
        <td class="path">{{ requirement.created_time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="application-view-content clearfix">
  <h2>testcases</h2>
  <table class="display">
    <thead>
      <tr>
        <th class="icon">&nbsp;</th>
        <th class="id">id</th>
        <th>path</th>
        <th>name</th>
        <th>modified</th>
        <th>created</th>
      </tr>
    </thead>
    <tbody>
      {% for testcase in testcases %}
      <tr>
        <td><img src="{{ MEDIA_URL }}images/testcase_icon_small.png"></td>
        <td><a href="/store/#testcase/{{ testcase.id }}/details/">{{ testcase.id }}</a></td>
        <td><a href="/store/#testcasedirectory/{{ testcase.parent.id}}/details/">{{ testcase.path }}</a></td>
        <td><a href="/store/#testcase/{{ testcase.id }}/details/">{{ testcase.name }}</a></td>
        <td class="path">{{ requirement.modified_time }}</td>
        <td class="path">{{ requirement.created_time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="grid_16 clearfix">
  <div class="application-view-content clearfix">
    <div class="grid_8 clearfix">
      <h2>depends</h2>
      <table class="display">
        <thead>
          <tr>
            <th class="icon">&nbsp;</th>
            <th class="id">id</th>
            <th>path</th>
            <th>name</th>
            <th>modified</th>
            <th>created</th>
          </tr>
        </thead>
        {% for requirement in requirement.dependencies.all %}
        <tr>
          <td><img src="{{ MEDIA_URL }}images/requirement_icon_small.png"></td>
          <td><a href="#requirement/{{ requirement.id }}/details/">{{ requirement.id }}</a></td>
          <td><a href="#requirement/{{ requirement.id }}/details/">{{ requirement.path }}</a></td>
          <td><a href="#requirement/{{ requirement.id }}/details/">{{ requirement.name }}</a></td>
          <td class="path">{{ requirement.modified_time }}</td>
          <td class="path">{{ requirement.created_time }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="grid_8 clearfix">
      <h2>blocks</h2>
      <table class="display">
        <thead>
          <tr>
            <th class="icon">&nbsp;</th>
            <th class="id">id</th>
            <th>path</th>
            <th>name</th>
            <th>modified</th>
            <th>created</th>
          </tr>
        </thead>
        {% for requirement in requirement.blocks.all %}
        <tbody>
          <tr>
            <td><img src="{{ MEDIA_URL }}images/requirement_icon_small.png"></td>
            <td><a href="#requirement/{{ requirement.id }}/details/">{{ requirement.id }}</a></td>
            <td><a href="#requirement/{{ requirement.id }}/details/">{{ requirement.path }}</a></td>
            <td><a href="#requirement/{{ requirement.id }}/details/">{{ requirement.name }}</a></td>
            <td class="path">{{ requirement.modified_time }}</td>
            <td class="path">{{ requirement.created_time }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="grid_16 clearfix">
  <div id="application-view-footer" class="application-view-content clearfix">
    <div class="prefix_8 grid_8 right clearfix">
      <a class="button {% if not perms.require.add_requirement %}disable{% endif %}"
         href="#requirement/{{ requirement.pk }}/new/">create requirement</a>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}js/require_details.js{{ STATIC_HASH }}"></script>
