{% load application_view_menu %}
<div id="application-view-header">
  <h1>requirement{% if requirement_form.instance.id %}: {{ requirement_form.instance.name }}{% endif %}</h1>
</div>

{% if requirement_form.instance.id %}
{% application_view_menu requirement_form.instance "edit" %}
{% else %}
<div id="application-view-menu">
  <span class="active">new</span>
</div>
{% endif %}

<form id="requirement_form" 
      action="{% if requirement_form.instance.id %}
              {{ SELF.get_absolute_url }}ajax/requirement/{{ requirement_form.instance.id }}/edit/valid/
              {% else %}
              {{ SELF.get_absolute_url }}ajax/requirement/new/valid/{% endif %}"
      method="post">
  <div class="application-view-content">{% csrf_token %}
    {% for field in requirement_form %}
    <div id="{{ field.html_name }}_wrapper" class="field-wrapper">
      {{ field.label_tag }}: <span class="error"></span>
      {{ field }}
    </div>
    {% endfor %}
  </div>
  
  <div class="grid_16 clearfix">
    <div id="application-view-footer" class="application-view-content">
      <div class="right">
        <input type="submit" name="Executed" value="Save"/>
      </div>
    </div>
  </div>

</form>
<script type="text/javascript" src="{{ MEDIA_URL }}js/require_edit.js{{ STATIC_HASH }}"></script>
