{% load application_view_menu %}
<div id="application-view-header">
  <h1>requirement: {{ requirement.name }}</h1>
</div>

<script type="text/javascript">
  var URLS = {
     connected_testcases: '{{ connected_testcases_url|safe }}',
     available_testcases: '{{ available_testcases_url|safe }}',
     connect_testcases: '{{ connect_testcases_url|safe }}',
     disconnect_testcases: '{{ disconnect_testcases_url|safe }}'
  };
</script>

{% application_view_menu requirement "testcases" %}
<form id="testcases_connect_form" method="post">
  {% csrf_token %}
  <div class="grid_16">
    <div class="connected-testcases application-view-content clearfix">
      <h2>connected testcases</h2>
      <table class="display">
        <thead>
          <tr>
            <th class="checkbox"></th>
            <th>id</th>
            <th>path</th>
            <th>name</th>
            <th>modified</th>
            <th>created</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <div class="grid_16">
    <div class="application-view-content clearfix">
        <a id="remove-testcases-button" class="button remove-button">
          <span class="ui-icon ui-icon-circle-arrow-s"></span>
          remove
        </a>
        <a id="add-testcases-button" class="button add-button">
          add
          <span class="ui-icon ui-icon-circle-arrow-n"></span>
        </a>
        <div style="clear:both;"></div>
    </div>
  </div>

  <div class="grid_16">
    <div id="application-view-footer" class="available-testcases application-view-content clearfix">
      <h2>available testcases</h2>
      <table class="display">
        <thead>
          <tr>
            <th class="checkbox"></th>
            <th>id</th>
            <th>path</th>
            <th>name</th>
            <th>requirement</th>
            <th>modified</th>
            <th>created</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</form>
<script type="text/javascript" src="{{ MEDIA_URL }}js/require_testcases.js{{ STATIC_HASH }}"></script>
