{% extends 'base_tree.html' %}

{% block js-include %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/store.js"></script>
{% endblock %}

{% block css-include %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/store.css" />
{% endblock %}

{% block application-menu %}
<li class="active">browse</li>
<li><a href="{{ SELF.get_absolute_url }}filter/">filter</a></li>
<li><a href="{{ SELF.get_absolute_url }}glossary/">glossary</a></li>
{% endblock %}
