{% load application_view_menu %}
<div id="application-view-header">
  <h1>test case: {{ testcase.name }}</h1>
</div>

{% application_view_menu testcase "details" %}

<div class="application-view-content">
  <div class="text-bullet">
    <span class="name">full name:</span>
    <span class="value">{{ testcase.path }}{{ testcase.name }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">directory:</span>
    <span class="value">{{ testcase.path }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">status:</span>
    <span class="value">{{ testcase.status|default:"<i>not set</i>" }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">description</span>
    <span class="value-block">{{ testcase.description|default:"<i>not set</i>" }}</span>
  </div>
  
  <h2>precondition</h2>
  {{ testcase.precondition|default:"<i>not set</i>"|linebreaksbr }}
  
  {% for step in testcase.testcasestep_set.all %}
  <h2>step {{ forloop.counter }}</h2>
  <div class="step clearfix">
    <div class="grid_8 description">
      {{ step.description|linebreaksbr }}
    </div>
    <div class="grid_8 expected">
      {{ step.expected|linebreaksbr }}
    </div>
  </div>
  {% endfor %}
</div>

<script>
$(function() {
$('.translation').qtip(
{
content: $('.tooltip-content').html()
});

});
</script>
