{% load application_view_menu %}
<div id="application-view-header">
  <h1>test case directory: {{ directory.name }}</h1>
</div>

{% application_view_menu directory "details" %}

<div class="application-view-content">
  <div class="text-bullet">directory: {{ directory.path }}</div>
  
  <table class="pretty ui-corner-all" style="margin-top: 20px">
    <tr>
      <th class="icon"></th>
      <th>Path</th>
      <th>Name</th>
      <th>Requirement</th>
    </tr>
    {% for child in directory.get_children %}
    <tr class="directory">
      <td><img src="{{ MEDIA_URL }}images/testcase_icon_small.png"></td>
      <td><a href="#testcasedirectory/{{ child.pk }}/details/">{{ child.path }}</a></td>
      <td><a href="#testcasedirectory/{{ child.pk }}/details/">{{ child.name }}</a></td>
      <td>&nbsp;</td>
    </tr>
    {% endfor %}
    {% for child in directory.testcase_set.all %}
    <tr>
      <td><img src="{{ MEDIA_URL }}images/testcase_icon_small.png"></td>
      <td class="path"><a href="#testcasedirectory/{{ child.parent.pk }}/details/">{{ child.path }}</a></td>
      <td><a href="#testcase/{{ child.pk }}/details/">{{ child.name }}</a></td>
      <td><a href="/require/#requirement/{{ child.requirement.id }}/details/">{{ child.requirement.name }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

<div id="application-view-footer" class="grid_16 clearfix">
  <div class="prefix_8 grid_8 right">
    <a class="button" href="#testcase/{{ directory.pk }}/new/" >create testcase</a>
    <a class="button" href="#testcasedirectory/{{ directory.pk }}/new/" >create testcase directory</a>
  </div>
</div>

