{% load application_view_menu %}
{% load glossary %}

<div id="application-view-header">
  <h1>test case: {{ testcase.name }}</h1>
</div>

{% application_view_menu testcase "details" %}

<div class="glossary-language-switch"></div>

<div class="application-view-content">
  <div class="text-bullet">
    <span class="name">full name:</span>
    <span class="value">{{ testcase.path }}{{ testcase.name }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">parent:</span>
    <span class="value">{{ testcase.path }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">requirement:</span>
    <span class="value">
      <a href="/require/#requirement/{{ testcase.requirement.pk }}/details/">{{ testcase.requirement|default:"<i>not set</i>" }}</a>
    </span>
  </div>
  <div class="text-bullet">
    <span class="name">description</span>
    <span class="value-block">
      {% glossary_aware testcase.description_br %}
    </span>
  </div>
</div>
<div class="application-view-content">
  <div class="step">
    <h2>precondition</h2>
    {% glossary_aware testcase.precondition_br %}
  </div>

  {% for step in testcase.steps.all %}
  <div class="clearfix step">
    <h2>step {{ forloop.counter }}</h2>
    <div class="grid_8 clearfix">
      <div class="description">
        {% glossary_aware step.description_br %}
      </div>
    </div>
    <div class="grid_8 clearfix">
      <div class="excpected">
        {% glossary_aware step.expected_br %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}js/store_testcase_details.js{{ STATIC_HASH }}"></script>
