{% load application_view_menu %}
<div id="application-view-header">
  <h1>test case{% if testcase_form.instance.id %}: {{ testcase.instance.name }}{% endif %}</h1>
</div>

{% if testcase_form.instance.id %}
{% application_view_menu testcase_form.instance "edit" %}
{% else %}
<div id="application-view-menu">
  <span class="active">new</span>
</div>
{% endif %}

<div class="step template clearfix">
  {{ testcasesteps_form.empty_form.id }}
  {{ testcasesteps_form.empty_form.testcase }}
  {{ testcasesteps_form.empty_form.sequence }}
  <h2 class="step-name">Step 0</h2>
  <div class="grid_8">
    <div class="description">
      <div id="{{ testcasesteps_form.empty_form.description.html_name }}_wrapper" class="field-wrapper">
        {{ testcasesteps_form.empty_form.description.label_tag}} <span class="error"></span>
        {{ testcasesteps_form.empty_form.description }}
      </div>
    </div>
    <a class="button add-step">Add step</a>
  </div>
  <div class="grid_8">
    <div class="excpected">
      <div class="field-wrapper" style="text-align:right">
        {{ testcasesteps_form.empty_form.expected.label_tag}} <span class="error"></span>
        {{ testcasesteps_form.empty_form.expected }}
        delete: {{ testcasesteps_form.empty_form.DELETE }}
      </div>
    </div>
  </div>
</div>

<form id="testcase_form" 
      action="{% if testcase_form.instance.id %}/store/ajax/testcase/{{ testcase_form.instance.id }}/edit/valid/
              {% else %}/store/ajax/testcase/new/valid/{% endif %}"
      method="post">{% csrf_token %}
  <div class="application-view-content">
    
    <div id="{{ testcase_form.name.html_name }}_wrapper" class="field-wrapper">
      {{ testcase_form.name.label_tag }}: <span class="error"></span>
      {{ testcase_form.name }}
    </div>

    <div id="{{ testcase_form.parent.html_name }}_wrapper" class="field-wrapper">
      {{ testcase_form.parent.label_tag }}: <span class="error"></span>
      {{ testcase_form.parent }}
    </div>

    <div id="{{ testcase_form.requirement.html_name }}_wrapper" class="field-wrapper">
      {{ testcase_form.requirement.label_tag }}: <span class="error"></span>
      {{ testcase_form.requirement }}
    </div>

    <div id="{{ testcase_form.description.html_name }}_wrapper" class="field-wrapper">
      {{ testcase_form.description.label_tag }}: <span class="error"></span>
      {{ testcase_form.description }}
    </div>
    
    {{ testcasesteps_form.management_form }}
    <a id="add-step-0" class="button add-step">add step</a>
  </div>

  <div class="application-view-content">

    
    <div id="{{ testcase_form.description.html_name }}_wrapper" class="field-wrapper">
      {{ testcase_form.precondition.label_tag }}: <span class="error"></span>
      {{ testcase_form.precondition }}
    </div>

    {% for form in testcasesteps_form.forms %}
    <div class="step clearfix">
      {{ form.id }}
      {{ form.testcase }}
      <h2 class="step-name">Step {{ forloop.counter }}</h2>{{ form.sequence }}
      <div class="grid_8">
        <div class="description">
          <div id="{{ form.description.html_name }}_wrapper" class="field-wrapper">
            {{ form.description.label_tag}} <span class="error"></span>
            {{ form.description }}
          </div>
        </div>
        <a class="button add-step">Add step</a>
      </div>
      <div class="grid_8">
        <div class="excpected">
          <div id="{{ form.expected.html_name }}_wrapper" class="field-wrapper" style="text-align:right">
            {{ form.expected.label_tag}} <span class="error"></span>
            {{ form.expected }}
            delete: {{ form.DELETE }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
    
  <div id="application-view-footer" class="application-view-content clearfix">
    <div class="grid_8 left clearfix">
      <input type="submit" name="Executed" value="Delete" />
    </div>
    <div class="grid_8 right clearfix">
      <input type="submit" name="Executed" value="Save" />
    </div>
  </div>

</form>

<div id="dialog-attachmets" title="Use attachment?" style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left;
	                                        margin:0 7px 20px 0;"></span>
    List of availiable attachments for current TestCase
  </p>
  <table class="pretty">
    <tr>
      <th>name</th><th>file</th><th>created time</th>
    </tr>
    <tr>
      <td><a class="add-this-attachment" href="#">xml_dump</a></td>
      <td>xml_file.xml</td>
      <td>{% now "jS F Y H:i" %}</td>
    </tr>
    <tr>
      <td><a class="add-this-attachment" href="#">message_dump</a></td>
      <td>messages.db</td>
      <td>{% now "jS F Y H:i" %}</td>
    </tr>
  </table>
</div>

<div id="dialog-translations" title="Add translation?" style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left;
	                                        margin:0 7px 20px 0;">
    </span>Search for logical strings/translations availiable attachments for project
  </p>
  <!-- <form action="#"> -->
    {{ glossary_word_search_form }}
    <input type="submit" value="Search"/>
  <!-- </form> -->
  <table class="pretty">
    <tr>
      <th>name</th><th>lng</th><th>translation</th>
    </tr>
    <tr>
      <td rowspan="4" style="vertical-align:top"><a class="add-translation">_open_mesagging_box_</a></td>
      <td>en</td>
      <td>Open Messaging Box</td>
    </tr>
    <tr>
      <td>pl</td>
      <td>Otwórz Wiadomości Przychodzące</td>
    </tr>
  </table>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}js/store_testcase_edit.js{{ STATIC_HASH }}"></script>
