{% load application_view_menu %}
<div id="application-view-header">
  <h1>test case: {{ testcase.name }}</h1>
</div>

{% application_view_menu testcase "details" %}

<div class="application-view-content">
  <div class="text-bullet">
    <span class="name">full name:</span>
    <span class="value">{{ testcase.path }}{{ testcase.name }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">parent:</span>
    <span class="value">{{ testcase.path }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">requirement:</span>
    <span class="value">{{ testcase.requirement|default:"<i>not set</i>" }}</span>
  </div>
  <div class="text-bullet">
    <span class="name">description</span>
    <span class="value-block">{{ testcase.description|default:"<i>not set</i>" }}</span>
  </div>
</div>
<div class="application-view-content">
  <div class="step">
    <h2>precondition</h2>
    {{ testcase.precondition|default:"<i>not set</i>"|linebreaksbr }}
  </div>

  {% for step in testcase.testcasestep_set.all %}
  <div class="clearfix step">
    <h2>step {{ forloop.counter }}</h2>
    <div class="grid_8 clearfix">
      <div class="description">
        {{ step.description|linebreaksbr }}
      </div>
    </div>
    <div class="grid_8 clearfix">
      <div class="excpected">
        {{ step.expected|linebreaksbr }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
