<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" media="screen, projection"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.4.custom.css"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.jnotify.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/formalize.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/107214.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css{{ STATIC_HASH }}" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/registration.css{{ STATIC_HASH }}" media="screen, projection" />
  
  <link href="{{ HTTP_PROTOCOL }}://fonts.googleapis.com/css?family=Bevan:regular" rel="stylesheet" type="text/css" />
  <link href="{{ HTTP_PROTOCOL }}://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,bold,bolditalic" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.1.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.4.js"></script>
  
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form-2.43.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jnotify.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.formalize.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.infieldlabel.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/login.js"></script>

  <title>qualitio: {% block title %}{% endblock %}</title>
  <script>
    $(function () {
      $('li.{% block jstitle %}{% endblock %}')
        .css('font-weight', 'bold')
        .css('color', 'black');
    });
  </script>
  <body>  
    <div id="main" style="width: 800px">
      <div id="header" class="clearfix">
        <div class="logo">
          qualitio
        </div>
      </div>
      
      
      <div id="main">  

        <div class="block disclaimer">
          <p>
            Qualitio is an open-source web application that allows
            testing community to contribute to the Meego project easily
            and effectively.
          </p>

          <h1>How to start?</h1>

          <p>
            Just login with your Google or Yahoo account
          </p>

          <div id="openid" class="clearfix">
            <div class="logo clearfix"></div>
            <div class="button-set">
              <a class="google button" href="/login/google/">&nbsp;</a>
              <a class="yahoo button" href="/login/yahoo/">&nbsp;</a>
            </div>
          </div>

          <p>
            or <a href="/register/">register</a> a new Qualitio account.
          </p>

          <p>
            Login - Qualitio account:
          </p>
          
          {% if form.errors %}
          <div id="notification">
            <div class="ui-state-error">
              <div>{% for error in form.non_field_errors %}{{ error }}{% endfor %}</div>
              {% for field in form %}
              {% if field.errors %}
              <div class="field-error">
                <b>{{ field.label }}:</b>
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% block form %}
          {% endblock %}
        </div>

        <div class="block disclaimer">

          <h1>What's next?</h1>
          
          <p>
            That's it! You can start testing, preparing test cases
            for requirements that you want to test, executing them and
            composing complex reports.
          </p>

          <p>
            Your contribution makes a difference! You can start
            testing today and have an influence on the MeeGo
            project. More information can be found on Qualitio
            <a href="http://qualitio.com" target="_blank">web page</a>
            and <a href="https://github.com/qualitio/qualitio/wiki" target="_blank">wiki page</a>.
          </p>

          <p>
            To learn more about MeeGo, please go to the official MeeGo
            <a href="https://meego.com"
            target="_blank">web site</a>.
          </p>

          <p>
            MeeGo™ is a trademark of the Linux Foundation.
          </p>
          
        </div>
      </div>
    </div>
  </body>
</html>
  
  
