<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" media="screen, projection"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.4.custom.css"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.jnotify.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/formalize.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/107214.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css{{ STATIC_HASH }}" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/registration.css{{ STATIC_HASH }}" media="screen, projection" />
  
  <link href="{{ HTTP_PROTOCOL }}://fonts.googleapis.com/css?family=Bevan:regular" rel="stylesheet" type="text/css" />
  <link href="{{ HTTP_PROTOCOL }}://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,bold,bolditalic" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.1.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.4.js"></script>
  
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form-2.43.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jnotify.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.formalize.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.infieldlabel.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/login.js"></script>

  <title>qualitio: {% block title %}{% endblock %}</title>
  <script>
    $(function () {
      $('li.{% block jstitle %}{% endblock %}')
        .css('font-weight', 'bold')
        .css('color', 'black');
    });
  </script>
  <body>  
    <div id="main" style="width: 800px">
      <div id="header" class="clearfix">
        <div class="logo">
          qualitio
        </div>
      </div>
      
      <div id="project-content" class="container_16 clearfix">
        <div class="grid_16">
          <div id="application-menu" >
            <ul>
              <li class="login"><a href="/login/">login</a></li>
              <li class="register"><a href="/register/">registration</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div id="main">  
        <div class="block">
          
          {% if form.errors %}
          <div id="notification">
            <div class="ui-state-error">
              <div>{% for error in form.non_field_errors %}{{ error }}{% endfor %}</div>
              {% for field in form %}
              {% if field.errors %}
              <div class="field-error">
                <b>{{ field.label }}:</b>
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% block form %}
          {% endblock %}
        </div>
        <div class="block disclaimer">
          <p>
            The main goal of Qualitio project is to unleash MeeGo QA community. 
            Qualitio is an open-source tool which allows testing community to 
            contribute into Meego project with an ease and pleasure.
          </p>
          
          <h1>How to start?</h1>
          <p>
            Just login with your Google or Yahoo account or register a new 
            Qualitio account.
          </p>
          
          <h1>What's next?</h1>
          
          <p>
            Then please check Qualitio 
            <a href="https://github.com/qualitio/qualitio/wiki" target="_blank">wiki page</a> 
            and... that's it! You can start testing!
            Prepare test cases for requirements that you want to test, execute them and 
            compose complex report.
          </p>
          
          <p>
            Your contribution makes a difference! You can start testing 
            today and have an influence on the MeeGo project. 
            Qualitio is an open-source web application. 
            More information can be found on Qualitio 
            <a href="http://qualitio.com" target="_blank">web page</a>.
          </p>
          
          <p>   
            If you want to know more about MeeGo, please check the official MeeGo website.
            MeeGo&trade; is a trademark of the Linux Foundation.
          </p>
          
          
        </div>
      </div>
    </div>
  </body>
</html>
  
  
