{% extends 'registration/base.html' %}

{% block title %}{% block jstitle %}login{% endblock %}{% endblock %}


{% block form %}
<script>
  $(function() {
    creditinals_blocks = '{{ AUTH_AUTO_LOGIN }}'.split(":");

    if (creditinals_blocks.length == 2) {
      $("#id_username").val(creditinals_blocks[0]);
      $("label[for=id_username]").hide();

      $("#id_password").val(creditinals_blocks[1]);
      $("label[for=id_password]").hide();
    }
  })

</script>
<form method="post" action="{% url django.contrib.auth.views.login %}">
  <fieldset>
    {% csrf_token %}
    {{ form.username }}{{ form.username.label_tag|lower }}
    {{ form.password }}{{ form.password.label_tag|lower }}
  </fieldset>
  <div class="submit-panel">
    <div class="right">
      <a class="registartion-link" href="/register/">Register new Qualitio account.</a>
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </div>
</form>
{% if request.organization.googleapps_domain %}
<div id="openid" class="clearfix">
  <div class="text">or try Google Login (if you have an account inside
    <b style="color: black">{{ request.organization.googleapps_domain }}</b>
    domain)</div>
  <a class="google button" href="/login/google/">&nbsp;</a>
</div>
{% endif %}

{% endblock %}
