{% extends 'registration/base.html' %}

{% block title %}{% block jstitle %}login{% endblock %}{% endblock %}


{% block form %}
<script>
  $(function() {
    creditinals_blocks = '{{ AUTH_AUTO_LOGIN }}'.split(":");

    if (creditinals_blocks.length == 2) {
      $("#id_username").val(creditinals_blocks[0]);
      $("label[for=id_username]").hide();

      $("#id_password").val(creditinals_blocks[1]);
      $("label[for=id_password]").hide();
    }
  })

</script>

<div class="login-option clearfix" style="border-top: 0px;">
  <h1>Login</h1>
  <div class="text">
    Provide your user-name and password. To create a new account in <b style="color: black">{{ request.organization.googleapps_domain }}</b> domain, use the registration form below.
  </div>
  <form method="post" action="{% url django.contrib.auth.views.login %}">
    <fieldset>
      {% csrf_token %}
      {{ form.username }}<label for="id_username">email</label>
      {{ form.password }}{{ form.password.label_tag|lower }}
    </fieldset>
    <div class="submit-panel">
      <div class="right">
        <a class="registartion-link" href="/register/">
          Create a new account in <b>{{ request.organization.name }}</b> organization.
        </a>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </div>
  </form>
</div>


{% if request.organization.googleapps_domain %}
<div class="login-option clearfix">
  <div class="or">OR</div>
  <h1>Google Apps Login</h1>
  <div class="text">
    This organization is also connected to Google Apps <b style="color: black">{{ request.organization.googleapps_domain }}</b> domain. Use your <b style="color: black">{{ request.organization.googleapps_domain }}</b> account to log in by <b style="color: black">Googgle Apps OpenID</b>. 
  </div>
  <a class="google button" href="/login/googleapps/">&nbsp;</a>
</div>
{% else %}
{% if not request.organization.payment %}
<div class="login-option clearfix">
  <div class="or">OR</div>
  <h1>OpendID</h1>
  <div class="text">
    Use your regular <b style="color: black">OpenID</b>. Your account will be activated once administrator confirms your membership. 
  </div>
  <a class="google button" href="/login/google/">&nbsp;</a>
  <a class="yahoo button" href="/login/yahoo/">&nbsp;</a>
</div>
{% endif %}
{% endif %}


{% endblock %}
