{% extends 'registration/base.html' %}

{% block register-js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/register.js"></script>
{% endblock %}

{% block title %}{% block jstitle %}register{% endblock %}{% endblock %}

{% block form %}
<h1>Registration</h1>
<form method="post" action="{% url registration %}">
  <fieldset>
    {% csrf_token %}
    {{ form.email }}{{ form.email.label_tag|lower }}
    {{ form.password1 }}{{ form.password1.label_tag|lower }}
    {{ form.password2 }}{{ form.password2.label_tag|lower }}
  </fieldset>
  <div class="submit-panel">
    <div class="right">
      <input type="submit" value="register" />
    </div>
  </div>
</form>
{% endblock %}
