<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" media="screen, projection"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.4.custom.css"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.jnotify.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/formalize.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/login.css{{ STATIC_HASH }}" media="screen, projection" />

  <link  href="http://fonts.googleapis.com/css?family=Bevan:regular" rel="stylesheet" type="text/css" >
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form-2.43.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jnotify.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.formalize.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.infieldlabel.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/login.js"></script>
  
  <title>qualitio: registration</title>
  
</head>
<body>
  {% if form.errors %}
  <div id="notification">
    <div class="ui-state-error">Your username and password didn't match. Please try again.</div>
  </div>
  {% endif %}
  
  <div id="main">
    <div id="registartion" class="block">
      <div class="title">registartion</div>
      
      <form method="post" action="{% url django.contrib.auth.views.login %}">
      </form>
      
      <div class="submit-panel">
        <div class="right">
          <input type="submit" value="Register" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </div>
    </div>
    
  </div>
</body>
</html>

