{% extends "base_filter.html" %}
{% load authorization %}

{% block module-name %}{% block module-title%}{{ app_label }}{% endblock %}{% endblock %}

{% block application-menu %}
<li><a href="{{ SELF.get_absolute_url }}">browse</a></li>
<li class="active">filter</li>
{% for menu_item in app_menu_items %}
<li><a class="{% if not user|has_permission:"USER" %}disable{% endif %}" href="{{ menu_item.url }}">{{ menu_item.name }}</a></li>
{% endfor %}
{% endblock %}

{% block filter-js-include %}
<script type="text/javascript">
  var COLUMN_NAMES = {{ table.base_columns.keys|safe }};
</script>
{{ block.super }}
{% endblock %}

{% block application-view %}
{% include "filter/_filter_content.html" %}

{% if organization_member.role == ROLE.USER or organization_member.role == ROLE.ADMIN %}
<div class="application-view-content">
  {% include "filter/_filter_action_form.html" %}
</div>
{% endif %}
{% endblock %}
