
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
	margin-left: 0px;
	margin-right: 0px;
	width: 100.0%;

}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,.grid_16{
	display:inline;
	float: left;
	position: relative;
	margin-left: 0.0%;
	margin-right: 0.0%;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/
.grid_1 .grid_1{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_2{
    width:199.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_3{
    width:299.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_4{
    width:399.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_5{
    width:499.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_6{
    width:599.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_7{
    width:699.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_8{
    width:799.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_9{
    width:899.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_10{
    width:999.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_11{
    width:1099.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_12{
    width:1199.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_13{
    width:1299.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_14{
    width:1399.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_15{
    width:1499.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_1 .grid_16{
    width:1599.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_2 .grid_1{
    width:49.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_2{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_3{
    width:149.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_4{
    width:199.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_5{
    width:249.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_6{
    width:299.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_7{
    width:349.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_8{
    width:399.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_9{
    width:449.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_10{
    width:499.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_11{
    width:549.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_12{
    width:599.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_13{
    width:649.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_14{
    width:699.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_15{
    width:749.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_2 .grid_16{
    width:799.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_3 .grid_1{
    width:32.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_2{
    width:65.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_3{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_4{
    width:132.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_5{
    width:165.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_6{
    width:199.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_7{
    width:232.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_8{
    width:265.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_9{
    width:299.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_10{
    width:332.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_11{
    width:365.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_12{
    width:399.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_13{
    width:432.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_14{
    width:465.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_15{
    width:499.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_3 .grid_16{
    width:532.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_4 .grid_1{
    width:24.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_2{
    width:49.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_3{
    width:74.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_4{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_5{
    width:124.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_6{
    width:149.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_7{
    width:174.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_8{
    width:199.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_9{
    width:224.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_10{
    width:249.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_11{
    width:274.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_12{
    width:299.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_13{
    width:324.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_14{
    width:349.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_15{
    width:374.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_4 .grid_16{
    width:399.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_5 .grid_1{
    width:19.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_2{
    width:39.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_3{
    width:59.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_4{
    width:79.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_5{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_6{
    width:119.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_7{
    width:139.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_8{
    width:159.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_9{
    width:179.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_10{
    width:199.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_11{
    width:219.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_12{
    width:239.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_13{
    width:259.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_14{
    width:279.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_15{
    width:299.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_5 .grid_16{
    width:319.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_6 .grid_1{
    width:15.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_2{
    width:32.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_3{
    width:49.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_4{
    width:65.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_5{
    width:82.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_6{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_7{
    width:115.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_8{
    width:132.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_9{
    width:149.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_10{
    width:165.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_11{
    width:182.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_12{
    width:199.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_13{
    width:215.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_14{
    width:232.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_15{
    width:249.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_6 .grid_16{
    width:265.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_7 .grid_1{
    width:13.2857142857%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_2{
    width:27.5714285714%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_3{
    width:41.8571428571%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_4{
    width:56.1428571429%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_5{
    width:70.4285714286%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_6{
    width:84.7142857143%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_7{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_8{
    width:113.285714286%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_9{
    width:127.571428571%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_10{
    width:141.857142857%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_11{
    width:156.142857143%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_12{
    width:170.428571429%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_13{
    width:184.714285714%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_14{
    width:199.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_15{
    width:213.285714286%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_7 .grid_16{
    width:227.571428571%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_8 .grid_1{
    width:11.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_2{
    width:24.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_3{
    width:36.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_4{
    width:49.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_5{
    width:61.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_6{
    width:74.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_7{
    width:86.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_8{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_9{
    width:111.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_10{
    width:124.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_11{
    width:136.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_12{
    width:149.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_13{
    width:161.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_14{
    width:174.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_15{
    width:186.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_8 .grid_16{
    width:199.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_9 .grid_1{
    width:10.1111111111%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_2{
    width:21.2222222222%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_3{
    width:32.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_4{
    width:43.4444444444%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_5{
    width:54.5555555556%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_6{
    width:65.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_7{
    width:76.7777777778%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_8{
    width:87.8888888889%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_9{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_10{
    width:110.111111111%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_11{
    width:121.222222222%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_12{
    width:132.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_13{
    width:143.444444444%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_14{
    width:154.555555556%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_15{
    width:165.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_9 .grid_16{
    width:176.777777778%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_10 .grid_1{
    width:9.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_2{
    width:19.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_3{
    width:29.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_4{
    width:39.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_5{
    width:49.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_6{
    width:59.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_7{
    width:69.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_8{
    width:79.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_9{
    width:89.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_10{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_11{
    width:109.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_12{
    width:119.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_13{
    width:129.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_14{
    width:139.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_15{
    width:149.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_10 .grid_16{
    width:159.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_11 .grid_1{
    width:8.09090909091%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_2{
    width:17.1818181818%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_3{
    width:26.2727272727%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_4{
    width:35.3636363636%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_5{
    width:44.4545454545%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_6{
    width:53.5454545455%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_7{
    width:62.6363636364%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_8{
    width:71.7272727273%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_9{
    width:80.8181818182%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_10{
    width:89.9090909091%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_11{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_12{
    width:108.090909091%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_13{
    width:117.181818182%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_14{
    width:126.272727273%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_15{
    width:135.363636364%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_11 .grid_16{
    width:144.454545455%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_12 .grid_1{
    width:7.33333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_2{
    width:15.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_3{
    width:24.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_4{
    width:32.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_5{
    width:40.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_6{
    width:49.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_7{
    width:57.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_8{
    width:65.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_9{
    width:74.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_10{
    width:82.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_11{
    width:90.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_12{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_13{
    width:107.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_14{
    width:115.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_15{
    width:124.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_12 .grid_16{
    width:132.333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_13 .grid_1{
    width:6.69230769231%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_2{
    width:14.3846153846%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_3{
    width:22.0769230769%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_4{
    width:29.7692307692%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_5{
    width:37.4615384615%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_6{
    width:45.1538461538%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_7{
    width:52.8461538462%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_8{
    width:60.5384615385%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_9{
    width:68.2307692308%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_10{
    width:75.9230769231%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_11{
    width:83.6153846154%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_12{
    width:91.3076923077%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_13{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_14{
    width:106.692307692%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_15{
    width:114.384615385%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_13 .grid_16{
    width:122.076923077%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_14 .grid_1{
    width:6.14285714286%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_2{
    width:13.2857142857%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_3{
    width:20.4285714286%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_4{
    width:27.5714285714%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_5{
    width:34.7142857143%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_6{
    width:41.8571428571%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_7{
    width:49.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_8{
    width:56.1428571429%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_9{
    width:63.2857142857%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_10{
    width:70.4285714286%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_11{
    width:77.5714285714%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_12{
    width:84.7142857143%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_13{
    width:91.8571428571%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_14{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_15{
    width:106.142857143%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_14 .grid_16{
    width:113.285714286%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_15 .grid_1{
    width:5.66666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_2{
    width:12.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_3{
    width:19.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_4{
    width:25.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_5{
    width:32.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_6{
    width:39.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_7{
    width:45.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_8{
    width:52.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_9{
    width:59.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_10{
    width:65.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_11{
    width:72.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_12{
    width:79.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_13{
    width:85.6666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_14{
    width:92.3333333333%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_15{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_15 .grid_16{
    width:105.666666667%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}



.grid_16 .grid_1{
    width:5.25%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_2{
    width:11.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_3{
    width:17.75%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_4{
    width:24.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_5{
    width:30.25%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_6{
    width:36.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_7{
    width:42.75%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_8{
    width:49.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_9{
    width:55.25%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_10{
    width:61.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_11{
    width:67.75%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_12{
    width:74.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_13{
    width:80.25%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_14{
    width:86.5%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_15{
    width:92.75%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}

.grid_16 .grid_16{
    width:99.0%;
    margin-left: 0.0%;
	margin-right: 0.0%;
}






/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .prefix_1 {
	padding-left:6.25%;
}

    .container_16 .prefix_2 {
	padding-left:12.5%;
}

    .container_16 .prefix_3 {
	padding-left:18.75%;
}

    .container_16 .prefix_4 {
	padding-left:25.0%;
}

    .container_16 .prefix_5 {
	padding-left:31.25%;
}

    .container_16 .prefix_6 {
	padding-left:37.5%;
}

    .container_16 .prefix_7 {
	padding-left:43.75%;
}

    .container_16 .prefix_8 {
	padding-left:50.0%;
}

    .container_16 .prefix_9 {
	padding-left:56.25%;
}

    .container_16 .prefix_10 {
	padding-left:62.5%;
}

    .container_16 .prefix_11 {
	padding-left:68.75%;
}

    .container_16 .prefix_12 {
	padding-left:75.0%;
}

    .container_16 .prefix_13 {
	padding-left:81.25%;
}

    .container_16 .prefix_14 {
	padding-left:87.5%;
}

    .container_16 .prefix_15 {
	padding-left:93.75%;
}

    .container_16 .prefix_16 {
	padding-left:100.0%;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .suffix_1 {
	padding-right:6.25%;
}

    .container_16 .suffix_2 {
	padding-right:12.5%;
}

    .container_16 .suffix_3 {
	padding-right:18.75%;
}

    .container_16 .suffix_4 {
	padding-right:25.0%;
}

    .container_16 .suffix_5 {
	padding-right:31.25%;
}

    .container_16 .suffix_6 {
	padding-right:37.5%;
}

    .container_16 .suffix_7 {
	padding-right:43.75%;
}

    .container_16 .suffix_8 {
	padding-right:50.0%;
}

    .container_16 .suffix_9 {
	padding-right:56.25%;
}

    .container_16 .suffix_10 {
	padding-right:62.5%;
}

    .container_16 .suffix_11 {
	padding-right:68.75%;
}

    .container_16 .suffix_12 {
	padding-right:75.0%;
}

    .container_16 .suffix_13 {
	padding-right:81.25%;
}

    .container_16 .suffix_14 {
	padding-right:87.5%;
}

    .container_16 .suffix_15 {
	padding-right:93.75%;
}

    .container_16 .suffix_16 {
	padding-right:100.0%;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .push_1 {
	left:6.25%;
}

    .container_16 .push_2 {
	left:12.5%;
}

    .container_16 .push_3 {
	left:18.75%;
}

    .container_16 .push_4 {
	left:25.0%;
}

    .container_16 .push_5 {
	left:31.25%;
}

    .container_16 .push_6 {
	left:37.5%;
}

    .container_16 .push_7 {
	left:43.75%;
}

    .container_16 .push_8 {
	left:50.0%;
}

    .container_16 .push_9 {
	left:56.25%;
}

    .container_16 .push_10 {
	left:62.5%;
}

    .container_16 .push_11 {
	left:68.75%;
}

    .container_16 .push_12 {
	left:75.0%;
}

    .container_16 .push_13 {
	left:81.25%;
}

    .container_16 .push_14 {
	left:87.5%;
}

    .container_16 .push_15 {
	left:93.75%;
}

    .container_16 .push_16 {
	left:100.0%;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .pull_1 {
	right:6.25%;
}

    .container_16 .pull_2 {
	right:12.5%;
}

    .container_16 .pull_3 {
	right:18.75%;
}

    .container_16 .pull_4 {
	right:25.0%;
}

    .container_16 .pull_5 {
	right:31.25%;
}

    .container_16 .pull_6 {
	right:37.5%;
}

    .container_16 .pull_7 {
	right:43.75%;
}

    .container_16 .pull_8 {
	right:50.0%;
}

    .container_16 .pull_9 {
	right:56.25%;
}

    .container_16 .pull_10 {
	right:62.5%;
}

    .container_16 .pull_11 {
	right:68.75%;
}

    .container_16 .pull_12 {
	right:75.0%;
}

    .container_16 .pull_13 {
	right:81.25%;
}

    .container_16 .pull_14 {
	right:87.5%;
}

    .container_16 .pull_15 {
	right:93.75%;
}

    .container_16 .pull_16 {
	right:100.0%;
}


.container_16 .grid_1{
	width:6.25%;
}

.container_16 .grid_2{
	width:12.5%;
}

.container_16 .grid_3{
	width:18.75%;
}

.container_16 .grid_4{
	width:25.0%;
}

.container_16 .grid_5{
	width:31.25%;
}

.container_16 .grid_6{
	width:37.5%;
}

.container_16 .grid_7{
	width:43.75%;
}

.container_16 .grid_8{
	width:50.0%;
}

.container_16 .grid_9{
	width:56.25%;
}

.container_16 .grid_10{
	width:62.5%;
}

.container_16 .grid_11{
	width:68.75%;
}

.container_16 .grid_12{
	width:75.0%;
}

.container_16 .grid_13{
	width:81.25%;
}

.container_16 .grid_14{
	width:87.5%;
}

.container_16 .grid_15{
	width:93.75%;
}

.container_16 .grid_16{
	width:100.0%;
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
