/* Reset css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border:0 none;
    font-family:inherit;
    font-size: 11px;
    font-style:inherit;
    font-weight:inherit;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

/* Global css */
body {
    font-size:12px;
    font-family:Verdana,Arial,sans-serif;
}


#project-menu {
    margin: 25px 0px 0px 0px;
}
#project-menu a:link,
#project-menu a:visited{
    text-decoration: none;
    color: #666;
    font-weight:bold;
}

#project-menu a:hover{
    text-decoration: underline;
}

#logo {
    color:#777777;
    font-size:3em;
    padding:2px;
}

#application-menu {
    padding:0.6em 1.1em;
    line-height:1.4;
    text-align: left;
    border-bottom:2px solid #aaa;

    background: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.14, rgb(238,238,238)),
	color-stop(1, rgb(255,255,255))
    );
    background: -moz-linear-gradient(
	center bottom,
	rgb(238,238,238) 14%,
	rgb(255,255,255) 100%
    );
}

#application-menu a,
#application-menu a:link {
    font-family: helvetica, arial;
    font-size: 1.1em;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    margin: 0px 7px 0px 3px;
}

#application-menu a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #777;
}

#application-view-menu {
    font-family:helvetica,arial;
    padding: 5px 10px;
    /* border-top: 1px solid #bbb; */
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

#application-view-menu a{
    text-decoration: none;
    color: #555
}

#application-view-menu a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: #777;
}


#application-view-menu .active{
    color: #666666;
    font-weight: bold;
}

#application-view-content {
    min-height:500px;
}

h1 {
    font-size: 1.5em;
    margin: 10px 0px;
    color: #555;
    font-weight: bold;
    border-bottom: 1px solid #F0F0F0;
}

h2 {
    font-size: 1.4em;
    margin: 14px 0px 2px;
    color: #555;
    font-weight: bold;
    border-bottom: 1px solid #F0F0F0;
}

#application-view-header {
    border-bottom:2px solid #aaa;
    padding: 0px 0px 10px 0px;
}

#application-view-footer {
    min-height:30px;
    background: white;
}
#application-view-footer .left {
    border-left: 1px solid #aaa;
    padding: 5px 5px;
    text-align:left;
}
#application-view-footer .right {
    text-align:right;
    padding: 5px 0px;
}

#application-nav.list {

}

#application-nav.list a {
    border-bottom: 1px solid #ccc;
    padding: 5px 3px;
    display: block;
    text-decoration: none;
    color: #555;
}
#application-nav.list a:hover {
    background: #fafafa;
}


#footer {
    padding: 7px 7px 40px;
    border-top:2px solid #aaa;
    min-height: 50px;

    /* for non-css3 browsers */
    /* background: #f0f0f0; */
    /* for IE */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
    /* for webkit browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    /* for firefox 3.6+ */
    background: -moz-linear-gradient(top,  #eee,  #fff);

}

table.pretty {
    width:100%;
    border-collapse: collapse;
    /* margin-bottom: 10px; */
}

table.pretty .icon {
    width: 16px;
}

table.pretty .path {
    width:45%;
}

table.pretty td {
    border: 1px white solid;
    padding: 0.2em;
    background: whitesmoke;
    vertical-align:middle;
}

table.pretty tr.directory td {
    background: #E8E8E8;
}

table.pretty th {
    text-align: left;
    padding: 0.2em 0 0.1em;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

table.pretty caption {
    margin-left: inherit;
    margin-right: inherit;
}

table.pretty th.checked {
    width:28px;
}

table a,
table a:hover,
table a:link,
table a:visited {
    font-weight: bold;
    color: black;
    font-size: 1.0em;
}

.content select,
.content input:not(.ui-button):not([type=checkbox]),
.content textarea {
    padding:3px 1px;
    width: 400px;
    font-size: 1.2em;
    margin: 0px;
    border: 1px solid #aaa;
    height:24px;
}

input, select {
}

label {
    display:block;
    font-size:1.1em;
    margin-top: 5px;
}

table.filter {
    width:100%;
    border-spacing: 0px;
    margin-bottom: 5px;
}

table.filter td {
    /* border: 0px; */
    /* border: 1px solid black; */
    border-bottom: 1px solid #F0F0F0;
    /* border-bottom: 1px solid #ccc; */
    padding-top: 1px;
    padding-bottom: 1px;
}
table.filter td.name {
    /* width: 300px; */
    padding-right:5px;
    text-align:right;
    width: 40px;
}
table.filter td.definition {
/* background: red; */
    width: 150px;
}
table.filter td.remove,
table.filter td.add {
    width:400px;
    text-align:right;
}

.action-parameters {
    display: none;
}


/* Settings */
/* same styles as application-tree  */
#application-list {
    /* padding: 0px 0px; */
    min-height: 400px;
}

#application-list .element:first-child {
    /* border-top: 1px solid #ccc; */
}
#application-list .element {
    border-bottom: 1px solid #ccc;
    padding: 5px 3px;
    /* cursor: pointer; */
    display: block;

}
#application-list a.element:hover {
    background: #eee;
    border-bottom: 2px solid #aaa; */
    /* border-top: 1px solid #aaa; */
}

.text-bullet {
    margin: 3px 0px;
    font-size: 1.2em;
}

.step p {
    text-align:justify;
}

/* jQuery-ui fixes */
/* .ui-button { */
/*     padding:0.2em 1em; */
/* } */
/* .ui-button-text-only { */
/*      min-width: 100px; */
/* } */

/* select { */
/*     min-width: 140px */
/* } */

