{% for testcase in testcases %}
<tr class="{% if testcase.requirement %}disabled{% endif %}">
  <td>
    {{ testcase.path }}
    {% if testcase.requirement %}
    <a href="/require/#requirement/{{ testcase.requirement.pk }}/details/">
      #{{ testcase.requirement.pk }}</a>
    {% endif %}
  </td>
  <td>{{ testcase.name }}</td>
  <td style="width:0px">
    <input type="checkbox" name="connect" {% if testcase.requirement %}disabled=disabled{% endif %} value="{{ testcase.id }}"/>
  </td>
</tr>
{% endfor %}
