{% load webdesign %}
<div class="grid_16">
  <div id="application-view-menu">
    <span class="active">details</span> |
    <a href="#requirement/{{ requirement.pk }}/edit">edit</a> |
    <a href="#requirement/{{ requirement.pk }}/testcases/">test cases</a> |
  </div>
</div>

<div class="grid_16">
  <div class="application-view-content">
    <h1>details: {{ requirement.name }}</h1>
    <div class="text-bullet"><b>path:</b> {{ requirement.get_path }}</div>
    <div class="text-bullet" style="text-align:justify"><b>description:</b><br/> {{ requirement.description|linebreaksbr  }}</div>
    
    <h2>connected test cases</h2>
    <table class="pretty ui-corner-all">
      {% if requirement.get_children  %}
      <tr>
        <th>Path</th>
        <th>Name</th>
      </tr>
      {% for child in requirement.get_children %}
      <tr>
        <td><a href="#requirement/{{ child.get_parent.pk }}/details/">{{ child.get_path }}</a></td>
        <td><a href="#requirement/{{ child.pk }}/details/">{{child.name}}</a></td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <th style="text-align:center">No children requirements</th>
      </tr>
      {% endif %}
    </table>

    <h2>dependencies</h2>
    
  </div>
</div>

<div id="application-view-footer" class="grid_16 clearfix">
  <div class="prefix_8 grid_8 right">
    <input type="submit" name="Executed" value="Create Requirement" />
  </div>
</div>
