<div id="application-view-header">
  <h1>requirement: {{ requirement.name }}</h1>
</div>

<div id="application-view-menu">
  <span class="active">details</span>
  <a href="#requirement/{{ requirement.pk }}/edit/">edit</a>
  <a href="#requirement/{{ requirement.pk }}/testcases/">test cases</a>
</div>

<div class="application-view-content">
  <div class="text-bullet"><b>full name:</b> {{ requirement.path }}{{ requirement.name }}</div>
  <div class="text-bullet"><b>path:</b> {{ requirement.path }}</div>
  <div class="text-bullet" style="text-align:justify">
    <b>description:</b><br/> {{ requirement.description|linebreaksbr  }}
  </div>
  
  {% if requirement.children.all %} 
  <h2>sub-requirements</h2>
  <table class="pretty ui-corner-all">
    <tr><th class="icon">&nbsp;</th><th>Path</th><th>Name</th></tr>
    {% for child in requirement.children.all %}
    <tr>
      <td><img src="{{ MEDIA_URL }}images/requirement_icon_small.png"></td>
      <td><a href="#requirement/{{ child.id }}/details/">{{ child.path }}</a></td>
      <td><a href="#requirement/{{ child.id }}/details/">{{ child.name }}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if testcases %}
  <h2>connected testcases</h2>
  <table class="pretty ui-corner-all">
    <tr><th>Path</th><th>Name</th></tr>
    {% for testcase in testcases %}
    <tr>
      <td><a href="#">{{ testcase.path }}</a></td>
        <td><a href="#">{{ testcase.name }}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

</div>

<div id="application-view-footer" class="grid_16 clearfix">
  <div class="prefix_8 grid_8 right">
    <a href="#requirement/{{ requirement.pk }}/new/" class="button">new requirement</a>
  </div>
</div>
