<div class="grid_16">
  <div id="application-view-menu">
    <a href="#requirement/{{ requirement.pk }}/details/">details</a> |
    <span class="active">edit</span> |
    <a href="#requirement/{{ requirement.pk }}/testcases/">test cases</a> |
  </div>
</div>

<form id="requirement_form" action="/require/ajax/valid_requirement_form/" method="post"> 
  <div class="grid_16">
    <div class="application-view-content">
      {% csrf_token %}
      {{ requirement_form }}
    </div>
  </div>
  
  <div id="application-view-footer" class="grid_16 clearfix">
    <div class="grid_8 left">
      <input type="submit" name="Executed" value="Delete" />
    </div>
    <div class="grid_8 right">
      <input type="submit" name="Executed" value="Save" />
    </div>
  </div>
</form>
