{% extends 'base.html' %}

{% block js-include %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/require_filter.js"></script>
{% endblock %}

{% block application %}
<div class="container_16" >
  <div class="grid_16" style="margin-bottom: 37px;">

    <div id="application-menu" >
      <a href="/require/">browse</a>
      <a href="/require/filter">filter</a>
    </div>

  </div>
</div>

<div class="container_16">

  <div class="grid_16">
    <table class="filter">
      <tr>
	<td class="name">name</td>
	<td class="definition">
	  <input style="width: 100%; width: -moz-available" name="name" id="status_new"></td>

	<td class="remove">
	  <button class="ui-button ui-widget ui-state-default
			 ui-corner-all ui-button-icon-only" role="button"
		  aria-disabled="false">
	    <span class="ui-button-icon-primary ui-icon ui-icon-minus">
	    </span>
	  </button>
	</td>
      </tr>

      <tr>
	<td class="name">or</td>
	<td class="definition">
	  <input style="width: 100%; width: -moz-available" name="name" id="status_new"></td>

	<td class="remove">

	  <button class="ui-button ui-widget ui-state-default
			 ui-corner-all ui-button-icon-only" role="button"
		  aria-disabled="false">
	    <span class="ui-button-icon-primary ui-icon ui-icon-minus">
	    </span>
	  </button>

	</td>
      </tr>

      <tr>
	<td class="name">status</td>
	<td class="definition">
	  <select style="width: 100%; width: -moz-available">
	    <option>---</option>
	    <option>new</option>
	    <option>passed</option>
	  </select>
	</td>

	<td class="remove">
	  <button class="ui-button ui-widget ui-state-default
			 ui-corner-all ui-button-icon-only" role="button"
		  aria-disabled="false">
	    <span class="ui-button-icon-primary ui-icon ui-icon-minus">
	    </span>
	  </button>
	</td>
      </tr>

      <tr>
	<td class="name">path</td>
	<td class="definition">
	  <input style="width: 100%; width: -moz-available" name="name" id="status_new"></td>

	<td class="remove">
	  <button class="ui-button ui-widget ui-state-default
			 ui-corner-all ui-button-icon-only"
		  role="button" aria-disabled="false" title="Button
		  with icon only">
	    <span class="ui-button-icon-primary ui-icon ui-icon ui-icon-minus"></span>
	    <span class="ui-button-text">Button with icon only</span>
	  </button>
	</td>
      </tr>

      <tr>
	<td class="name">&nbsp;</td>
	<td class="definition">&nbsp;</td>

	<td class="add">
	  <select>
	    <option>name</option>
	    <option>status</option>
	    <option>path</option>
	    <option>test case</option>
	  </select>
	  <input type="submit" value="add filter" class="ui-button
							 ui-widget
							 ui-state-default
							 ui-corner-all
							 ui-button-text-only"/>
	</td>
      </tr>

    </table>
  </div>

  <div class="grid_16" style="text-align:right;">
    <input type="submit" value="update" class="ui-button ui-widget
    					       ui-state-default
    					       ui-corner-all
    					       ui-button-text-only"/>
  </div>
</div>

<div class="container_16" >
  <div class="grid_16" style="margin-top: 30px">
    <table class="pretty">
      <tr>
	{% for column in requirements_table.columns %}
	<th class="{{ column.name }}"><a href="?sort={{ column.name_toggled }}">{{ column }}</a></th>
	{% endfor %}
      </tr>
      {% for row in requirements_table.rows %}
      <tr>
	{% for value in row %}
	<td>{{ value }}</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="container_16" >
  <div class="grid_16 button-bar">
    <div style="padding:5px; color:#555" >
      Actions on selected:
      <select class="action-list" style="font-size: 1.2em">
	<option>----</option>
	<option value="clone">Clone</option>
	<option value="remove">Remove</option>
	<option value="change_status">Change Status</option>
	<option value="export">Export</option>
	<option value="replace">Replace</option>
      </select>
      <span id="action-clone" class="action-parameters">
	where: <select><option>/</option></select>
	amount: <input></input>
	open last: <input type="checkbox"></input>
	<input type="submit" value="submit" class="ui-button
						   ui-widget
						   ui-state-default
						   ui-corner-all
						   ui-button-text-only"/>

      </span>

      <span id="action-change_status" class="action-parameters">
	change status: <select><option>---</option></select>
	<input type="submit" value="submit" class="ui-button
						   ui-widget
						   ui-state-default
						   ui-corner-all
						   ui-button-text-only"/>

      </span>

      <span id="action-export" class="action-parameters">
	export: <select><option>csv</option><option>xml</option></select>
	<input type="submit" value="submit" class="ui-button
						   ui-widget
						   ui-state-default
						   ui-corner-all
						   ui-button-text-only"/>

      </span>

      <span id="action-replace" class="action-parameters">
	field: <select><option>name</option><option>description</option></select>
	target: <input></input>
	to: <input></input>
	<input type="submit" value="submit" class="ui-button
						   ui-widget
						   ui-state-default
						   ui-corner-all
						   ui-button-text-only"/>
	<div id="dialog-confirm" title="Replace elements?">
	  <p><span class="ui-icon ui-icon-alert" style="float:left;
	  margin:0 7px 20px 0;">
	    </span>Strings in those elements will be permanently
	    replaced and cannot be recovered. Are you sure?</p>
	  <table class="pretty">
	    <tbody>
	      <tr>
		<th class="id">Id</th>
		<th class="path">Path</th>
		<th class="depth">Depth</th>
		<th class="numchild">Numchild</th>
		<th class="name">Name</th>
	      </tr>
	      <tr>
		<td>6</td>
		<td>00030004</td>
		<td>2</td>
		<td>0</td>
		<td>test 6</td>
	      </tr>
	    </tbody>
	  </table>
	</div>

      </span>

    </div>
  </div>
</div>
{% endblock %}

