<div id="application-view-header">
  <h1>requirement: {{ requirement.name }}</h1>
</div>

<div id="application-view-menu">
  <a href="#requirement/{{ requirement.pk }}/details/">details</a>
  <a href="#requirement/{{ requirement.pk }}/edit/">edit</a>
  <span class="active">test cases</span>
</div>

<div class="application-view-content">
  <div class="prefix_8 grid_8" style="text-align:right">
    <form class="testcase-search"  method="post" 
          action="/require/ajax/requirement/{{ requirement.id }}/testcases/list/">
      <input style="width:33%" type="text" name="testcase" style="display:inline"/>
      <input style="width:33%" type="text" name="testcasedirectory" style="display:inline"/>
      <input type="submit" value="Search" />
    </form>
  </div>
</div> 
 
<form class="testcase-connect" method="post"
      action="/require/ajax/requirement/{{ requirement.id }}/testcases/connect/">
  <div class="application-view-content clearfix">
    <div class="grid_8">
      <div style="padding-right:2px">
        <table class="pretty ui-corner-all">
          <tr>
            <th class="icon">&nbsp;</th>
            <th class="id">id</th>
            <th class="path">path</th>
            <th>name</th>
            <th class="checkbox">del</th>
          </tr>
          {% for testcase in connected_testcases %}
          <tr>
            <td><img src="{{ MEDIA_URL }}images/testcase_icon_small.png"></td>
            <td>#{{ testcase.pk }}</td>
	    <td>{{ testcase.path }}</td>
	    <td>{{ testcase.name }}</td>
            <td class="checkbox">
              <input type="checkbox" name="disconnect" value="{{ testcase.id }}"/>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    
    <div class="grid_8">
      <div style="padding-left:2px">
        <table class="available-testcases pretty ui-corner-all">
          <tr>
	    <th>path</th>
	    <th>name</th>
	    <th>add</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <div id="application-view-footer" class="grid_16 clearfix">
    <div class="prefix_8 grid_8 right">
      <input type="submit" name="save" value="Save" />
    </div>
  </div>
</form>

<script>
  function testcase_search_success(response, statusText, xhr, $form) {
    $(".available-testcases tr:not(:first-child)").detach();
    $(".available-testcases tr").after(response.data);
    if (!response.data) {
      $('#notification').jnotifyAddMessage({
        text: response.message,
        permanent: false,
        disappearTime: 2000
      });
    }
  }

  $(function () {
    $("form.testcase-search").ajaxForm({ 
      success: testcase_search_success
    });
    $("form.testcase-connect").ajaxForm({ 
      success: hash.main
    });
  });
</script>

<style type="text/css">
  input:focus, input.focused { border-color: #000; color: #333; }
</style>
