{% extends 'base.html' %}

{% load webdesign %}

{% block application %}
<script>
    $( function() {
	$('#radio').buttonset();
	$('.move-bug-button').button({ icons: { primary: "ui-icon-circle-triangle-e" }, text: false });
	$('.delete-bug-button').button({ icons: { primary: "ui-icon-circle-close" }, text: false });
    });



</script>

<div class="grid_16">
  <div id="application-menu" >
    <a href="/execute/">browse</a>
    <a href="/execute/filter">filter</a>
  </div>
</div>

<div class="grid_16">

  <div id="application-view-menu">
    <a href="/execute#testrun/{{ testrun.pk }}/details">details</a> |
    <a class="active" href="/execute/testrun/{{ testrun.pk }}/execute">execute</a> |
    <a href="/execute#testrun/{{ testrun.pk }}/notes">notes</a> |
    <a href="/execute#testrun/{{ testrun.pk }}/edit">edit</a> |
  </div>

  <div id="application-view-header" class="clearfix">
    <h1>test run: {{ testrun.name }}</h1>
  </div>
</div>

<div class="grid_16">
  <div id="application-nav" class="list" style="border-bottom:2px
						solid #aaa;
						padding: 0px 0px 2px" >
    <table class="pretty">
      <tr>
	<th>status</th>
	<th>directory</th>
	<th>name</th>
	<th class="checked">&nbsp;<th>
      </tr>
      <tr>
	<td>PASSED</td>
	<td>{{ testrun.directory.get_path }}</td>
	<td>{% lorem 12 w random %}</td>
	<td><input type="checkbox"></td>
      </tr>
      <tr>
	<td>FAILED</td>
	<td>{{ testrun.directory.get_path }}</td>
	<td>{% lorem 12 w random %}</td>
	<td><input type="checkbox"></td>
      </tr>
      <tr>
	<td>NA</td>
	<td>{{ testrun.directory.get_path }}</td>
	<td>{% lorem 12 w random %}</td>
	<td><input type="checkbox"></td>
      </tr>
      <tr>
	<td>IDLE</td>
	<td>{{ testrun.directory.get_path }}</td>
	<td>{% lorem 12 w random %}</td>
	<td><input type="checkbox"></td>
      </tr>

    </table>
    <div style="text-align: right;">
      <select class="action-list" style="font-size: 1.2em">
	<option><i>-- action on selected --</i></option>
	<option value="clone">set status</option>
	<option value="remove">add bug</option>
	<option value="change_status">remove bug</option>
      </select>
    </div>
  </div>
</div>

<div class="grid_16">
  <div id="application-view-content">

    <h1>test case: Opening Installx3ed Service Profiles view when no accounts are configured</h1>
    <div class="text-bullet">directory: {{ testrun.get_path }}</div>
    <div class="text-bullet">origin test case: /Messaging/BAT/Opening Installx3ed Service Profiles view when no accounts are configured</div>
    <div class="text-bullet">current status: Failed</div>

    <h2>Status</h2>
    <div id="radio">
      <input type="radio" id="radio1" name="radio" /><label class="ui-icon-gear" for="radio1">Idle</label>
      <input type="radio" id="radio2" name="radio" checked="checked" /><label for="radio2">Passed</label>
      <input type="radio" id="radio3" name="radio" /><label for="radio3">Failed</label>
      <input type="radio" id="radio4" name="radio" /><label for="radio4">NA</label>
    </div>

    <div class="grid_16 alpha omega">
      <div class="step clearfix">
	<h2>Precondition</h2>
	{% lorem 1 p %}
      </div>

      <div class="step clearfix">
      	<h2>Step 1</h2>
      	<div class="grid_8 alpha">{% lorem 1 p random %}</div>
	<div class="grid_8 omega">{% lorem 1 p random %}</div>
      </div>

      <div class="step clearfix">
      	<h2>Step 2</h2>
      	<div class="grid_8 alpha">{% lorem 1 p random %}</div>
	<div class="grid_8 omega">{% lorem 1 p random %}</div>
      </div>
    </div>


    <div class="grid_16 alpha">
      <h2>Details</h2>
      <div class="grid_4 alpha">
	historical bugs
	<div><a class="move-bug-button" href="#">x</a> <a href="#">#111</a> {% lorem 4 w random %}</div>
	<div><a class="move-bug-button" href="#">x</a> <a href="#">#112</a> {% lorem 4 w random %}</div>
	<div><a class="move-bug-button" href="#">x</a> <a href="#">#113</a> {% lorem 4 w random %}</div>
      </div>
      <div class="grid_4">
	current bugs
	<div><a class="delete-bug-button" href="#">x</a> <a href="#">#122</a> {% lorem 4 w random %}</div>
	<div><a class="delete-bug-button" href="#">x</a> <a href="#">#123</a> {% lorem 4 w random %}</div>
      </div>
      <div class="grid_4">
	attachments
	<div><a class="delete-bug-button" href="#">x</a> {% lorem 6 w random %}</div>
	<input> </input>
      </div>
      <div class="grid_4 omega">
	notes
	<div>
	  <textarea></textarea>
	</div>
      </div>
    </div>
  </div>

  <!-- <div id="application-view-footer"> -->
  <!--   <div class="grid_16 alpha omega"> -->
  <!--     <div class="left">status </div> -->
  <!--   </div> -->
  <!-- </div> -->

</div>
{% endblock %}
