#account {
    border: 1px solid;
    padding: 0 0 0 10px;
}

#account .panel {
    border-radius: 6px;
    overflow-y: auto;
}

#account .activity-log {
    padding: 10px 0;
}

.activity-log .object {
    font-weight: 700;
}

.activity-log .message {
    font-style: italic;
}

.blog .article {
    margin-top: 15px;
}

.blog .article .title {
    border-bottom: 1px solid #F0F0F0;
    color: #775555;
    font-family: 'Cabin',serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 140%;
    margin: 0 0 2px;
    text-rendering: optimizelegibility;
}

.blog .article .content {
    text-align: justify;
}

.blog .footer {
    margin: 5px 0;
    border-bottom: 1px solid #F0F0F0;
}

.blog .footer .date {
    float:left;
}

.blog .footer .author {
    float: right;
}
