#testcaserun-list {
    border-bottom: 3px solid #aaaaaa;
    height: 283px;
}

#testcaserun-list table {
    border-collapse:collapse;
}

#testcaserun-list .hover {
    background: #eeeecc !important;
    cursor: pointer;
}

#testcaserun-list .selected {
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#add-bug-form input[type=text]{
    width: 100px;
}

.bugs-panel {
    height: 300px;
}

.step h2 {
    padding: 5px 5px;
}

.step:nth-child(even) {
    background: #f6f6f6;
}
.step {
    padding-bottom: 25px;
    text-align: justify;
}

.step .description {
    padding: 5px 30px 0 5px;
}

.step .excpected {
    padding-left: 5px 5px 0 30px;
}
