#testcaserun-list {
    margin-top: 5px;
    border-bottom: 3px solid #aaaaaa;
    height: 310px;
}

#testcaserun-list table {
    border-collapse:collapse;
}

#testcaserun-list .hover {
    background: #eeeecc !important;
    cursor: pointer;
}

#testcaserun-list .selected {
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#addbugpanel {
    position: relative;
}

#addbugpanel .left{
    float:left; 
    width: 40px;
}

#addbugpanel .center{
    margin-left: 45px; 
    margin-right: 75px; 
}

#addbugpanel .center input {
    margin-top: -5px;
}

#addbugpanel .right{
    float:right; 
    width: 70px; 
    margin-top: -4px;
}

#add-bug-form input[type=text]{
    width: 200px;
}

.step {
    word-wrap: break-word;
    padding: 5px;

    border: 1px solid #ffffff;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.step:hover {
    border: 1px solid #e3e3e3;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.step h2 {
    padding: 5px 5px;
}

.step:nth-child(even) {
    background: #f3f3f3;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.step {
    padding-bottom: 25px;
    text-align: justify;
}

.step .description {
    padding: 5px 30px 0 5px;
}

.step .excpected {
    padding-left: 5px 5px 0 30px;
}

.passrate {
    /* padding: 3px; */
    font-weight: bold;
    font-family: 'Cabin',serif;
    font-size: 13px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    text-align: center;
    height: 23px;
    position: relative;
    
}

.passrate .element {
    float:left;
    /* border-right: 1px solid; */
    height: 23px;
}

.passrate .value {
    position: absolute;
    left: 49%;
    top: 4px;
}
