#testcaserun-list {
    border-bottom: 3px solid #aaaaaa;
    overflow: auto;
}

#testcaserun-list table {
    border-collapse:collapse;
}

#testcaserun-list .hover {
    background: #eeeecc !important;
    cursor: pointer;
}

#testcaserun-list .selected {
    background: #dddd77 !important;
    font-weight: bold;
}
