/* fixes for main.css */
.application-view-content {
    padding: 10px 10px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 1px solid rgb(170, 170, 170);
    margin-bottom: 4px;
    margin-right: 0px;
    background: white;
}

.filter-forms {
    width: 100%;
}

.filter-forms .groups-linker{
    text-align:center;
}

.filter-form .name{
    text-align: right;
    padding-right:10px;
}

.fieldfilter-form {
    padding:5px;
}

.fieldfilter-form .fieldfilter-label {
    width:250px; float:left;
}

.fieldfilter-form .fieldfilter-field {
    float:left; width:220px; margin-right:5px;
}

.fieldfilter-form .fieldfilter-tools {
    float:right;
}

.add-new-group-form {
    float:right; width:350px;
}

.results-container {
    padding-bottom: 13px;
}

.list-control-top {
    margin-bottom:5px;
}

.list-control-bottom {
    margin-top:15px;
}

.pagination {
    float: left;
    margin:3px 0px 0px 0px;
}

.onpage-form {
}

.pagination .current {
    background: #dddddd;
}

.pagination .page, .pagination .next, .pagination .prev{
    text-decoration: none;
    padding: 0px 10px;
    border: 1px solid;
}

.pagination .next {
    padding: 0px 20px;
}

.left { float: left; }
.right { float: right; }


/* fixes for dataTable js plugin */
.dataTables_info {
    width: 60%;
    float: left;
    padding-top:5px;
}

.dataTables_wrapper select {
    width: 50px;
}
