/* fixes for main.css */
.application-view-content {
    padding: 10px 10px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 1px solid rgb(170, 170, 170);
    margin-bottom: 4px;
    margin-right: 0px;
    background: white;
}

table.display thead th[name="checkbox"] {
    padding: 0px;
}

.filter-forms {
    width: 100%;
}

.filter-forms .groups-linker{
    text-align:center;
}

.filter-form .name{
    text-align: right;
    padding-right:10px;
}

.fieldfilter-form {
    padding:5px;
}

.fieldfilter-form .fieldfilter-label {
    width:250px; float:left;
}

.fieldfilter-form .fieldfilter-field {
    float:left; width:220px; margin-right:5px;
}

.fieldfilter-form .fieldfilter-tools {
    float:right;
}

.add-new-group-label {
    float:right;
    margin: 3px 10px 0px 0px;
    color: #999999;
    font-style: italic;
}

.add-new-group-form {
    float:right; width:350px;
}

.results-container {
    padding-bottom: 13px;
}

.list-control-top {
    margin-bottom:5px;
}

.list-control-bottom {
    margin-top:15px;
}

.pagination {
    float: left;
    margin:3px 0px 0px 0px;
}

.onpage-form {
}

.number-of-objects {
    color: #999999;
    float: right;
    font-style: italic;
    margin: 3px 10px 0 0;
}

.pagination .current {
    background: #dddddd;
}

.pagination .page, .pagination .next, .pagination .prev{
    text-decoration: none;
    padding: 0px 10px;
    border: 1px solid;
}

.pagination .next {
    padding: 0px 20px;
}

.left { float: left; }
.right { float: right; }


.action-choice-form {
    margin-right: 5px;
}

.action-choice-form select {
    margin: 1px 0px 0px 0px;
}

.action-form {
    border-collapse: separate;
    border-spacing: 5px;
    margin-top: 10px;
}

input.ui-button.search-button {
    padding: 0.47em 4em;
}

input[type="text"] {
    height: 28px;
}