.word {
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    display: block;
    text-decoration: none;
}

.word:hover {
    background: #f6f6f2;
}

.word-search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.word-add-button {
    position: absolute;
    bottom: 12px;
    right: 4px;
    height: 30px;
    border-radius: 6px;
    border-top: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 8px 0px 8px 0px;
}

#application-tree {
    position: relative;
}

#application-view-header {
    border-bottom: 1px solid #AAAAAA;
}
