/* /\* Global css *\/ */
body, html {
    margin:0;
    padding:0;
    height:100%; 
    overflow: hidden;
}

body {
    font-family:"trebuchet MS","Helvetica","Verdana","sans-serif";
    font-size: 12px;
}

a:link, a:visited {
    color: #555555;    
}

a:hover {
    color: #111111;
}

#loading {
    position: absolute;
    left: 50%;
    top: 55px;
    display:none;
    z-index:1;
}

#main {
    /* position:relative; /\* needed for footer positioning*\/ */
    margin:0 auto; /* center, not in IE5 */
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
}

#header .logo {
    color: #777777;
    font-family: 'Romeral';
    font-size: 3em;
    line-height: 88%;
    margin-bottom: 10px;
    margin-top: -3px;
    padding: 2px 0 0 10px;
    text-rendering: optimizelegibility;
}

#header {
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    position:relative
}

#header .user-panel{
    bottom: -22px;
    color: #555555;
    position: absolute;
    right: 15px;
    text-align: right;
    width: 243px;
    z-index: 1;
}

#footer {
    position:absolute;
    bottom:0; /* stick to bottom */
    z-index:1;
}

#footer .content {
    padding: 7px;
    height: 20px;
    border-top:2px solid #aaa;
    
    /* for non-css3 browsers */
    background: #f0f0f0;
    /* for IE */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
    /* for webkit browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    /* for firefox 3.6+ */
    background: -moz-linear-gradient(top,  #eee,  #fff);
}

#project-menu .content {
    margin: 25px 15px 0px 0px;
}
#project-menu a:link,
#project-menu a:visited{
    text-decoration: none;
    color: #666;
    font-weight:bold;
}
#project-menu a:hover{
    text-decoration: underline;
}

#application-menu {
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    font-family: 'tex gyre adventor'; 
    line-height:1.4;
    text-align: left;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    padding: 0 11px;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.14, rgb(238,238,238)),
        color-stop(1, rgb(255,255,255))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(238,238,238) 14%,
        rgb(255,255,255) 100%
    );
    z-index:0;
}

#application-menu ul,
#application-menu li {
    display: inline;
}
#application-menu li {
    padding: 5px 0;
    display: inline-block;
    min-width: 70px;
    text-align: center;
}
#application-menu li.active {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.14, rgb(222,222,222)),
        color-stop(1, rgb(255,255,255))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(222,222,222) 14%,
        rgb(255,255,255) 100%
    );
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
    text-decoration: none;
}

#application-menu a,
#application-menu a:link {
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    /* margin: 0px 7px 0px 3px; */
}

#application-menu a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #777;
}

#application-view {
    overflow-y: auto;
    background: #eee;
}

#application-view-menu {
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    margin-right: 11px;

    font-family: 'Junction';
    border-bottom: 1px solid #aaa;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.14, rgb(238,238,238)),
        color-stop(1, rgb(255,255,255))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(238,238,238) 14%,
        rgb(255,255,255) 100%
    );
}

#application-view-menu a{
    padding:5px 15px;
    text-decoration: none;
    color: #555;

    text-align: center;
    display:inline-block;
}

#application-view-menu a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: #777;
}

#application-view-menu .active{
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.14, rgb(222,222,222)),
        color-stop(1, rgb(255,255,255))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(210,210,210) 14%,
        rgb(255,255,255) 100%
    );
    color: #222;
    font-weight: bold;
    display:inline-block;
    padding:5px 15px;
}

.application-view-content {
    padding: 10px 10px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 1px solid #aaa;
    margin-top: 4px;
    margin-right: 11px;
    background: white;
}

.application-view-content input:not(.ui-button):not([type=checkbox]),
.application-view-content textarea {
    width: 100%;
    font-size: 1em;
    border: 1px solid #ccc;
}

.application-view-content select  {
    width: 100%;
    font-size: 1em;
    border: 1px solid #ccc;
}

.application-view-content .right  {
    text-align: right;
}

.application-view-content select[multiple],
.application-view-content textarea  {
    height: 100px;
}
.application-view-content select[multiple] option{
    padding: 2px 0;
}

h1 {
    font-size: 1.4em;
    color: #775555;
    font-family: 'Junction';
    line-height: 140%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h2, label {
    font-family: 'Junction';
    line-height: 140%;
    text-rendering: optimizeLegibility;
    font-size: 1.2em;
    margin: 0 0px 2px;
    color: #775555;
    font-weight: bold;
    border-bottom: 1px solid #F0F0F0;
}

#application-view-header {
    padding: 5px 10px;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    margin-top: 11px;
    margin-right: 11px;
    background: white;
}

#application-view-footer {
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
}

#application-view-footer .left {
    text-align:left;
}
#application-view-footer .right {
    text-align:right;
}

#application-view-permission-required {
    margin-top:12px;
}

#application-nav.list a {
    border-bottom: 1px solid #ccc;
    padding: 5px 3px;
    display: block;
    text-decoration: none;
    color: #555;
}
#application-nav.list a:hover {
    background: #fafafa;
}

#application-tree {
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    background: none repeat scroll 0 0 white;
    border: 1px solid #aaa;
    margin: 11px 4px 11px 11px;
    overflow: auto;
    padding: 4px;
}

.text-bullet {
    margin: 5px 0 14px;
    border-bottom: 1px solid #F0F0F0;
    
}

.text-bullet .name {
    font-family: 'Junction';
    color: #775555;
    font-weight: bold;
    font-size: 1.2em;
}

.text-bullet .value-block {
    display: block;
}

form .field-wrapper,
form .field{
    margin: 3px 0;
    padding: 3px 0;
}

form .ui-state-error label {
    font-weight: bold;
}
form .ui-state-error .error {
    font-style: italic;
}

.error {
    color: #D8000C;
}

div.error {
    background: #ffeedd;
    padding: 2px 5px;
    border: 1px solid #CD0A0A;
    display:none;
}

.tabble-wrapper {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

table.pretty {
    width:100%;
    border-collapse: collapse;
}
table.pretty .checkbox  {
    width: 18px;
}
table.pretty .status  {
    width: 60px;
    text-align: center;
}
table.pretty .bugs  {
    width: 200px;
    text-align: left;
}
table.pretty .icon {
    width: 20px;
}
table.pretty .id {
    width: 15px;
}
table.pretty .path {
    width:45%;
}
table.pretty td {
    border: 1px white solid;
    padding: 0.2em;
    vertical-align:middle;
}

table.pretty tr:nth-child(even) {
    background: whitesmoke;
}

table.pretty th {
    text-align: left;
    padding: 0.2em 0 0.1em;
}
table.pretty caption {
    margin-left: inherit;
    margin-right: inherit;
}
table.pretty th.checked {
    width:28px;
}

table.pretty a,
table.pretty a:hover,
table.pretty a:link,
table.pretty a:visited {
    font-weight: bold;
    color: black;
    font-size: 1.0em;
}

table.filter {
    width:100%;
    border-spacing: 0px;
    margin-bottom: 5px;
}

table.filter td {
    border-bottom: 1px solid #F0F0F0;
    padding-top: 1px;
    padding-bottom: 1px;
}
table.filter td.name {
    padding-right:5px;
    text-align:right;
    width: 40px;
}
table.filter td.definition {
    width: 150px;
}
table.filter td.remove,
table.filter td.add {
    width:400px;
    text-align:right;
}

.action-parameters {
    display: none;
}

.testcase-search #id_search {
    width: 85%;
}
.testcase-search input[type=submit] {
    width:14%;
}

/* jQuery-ui fixes */
.ui-button {
    font-size:0.9em;
    min-width: 70px;
}

.qtip .qtip-content{
   padding: 10px;
   overflow: hidden;
}

.qtip .qtip-content .qtip-title,
.qtip-cream .qtip-content .qtip-title{
    background-color: #F0DE7D;
}

.qtip-light .qtip-content .qtip-title{
    background-color: #f1f1f1;
}

.qtip-dark .qtip-content .qtip-title{
    background-color: #404040;
}

.qtip-red .qtip-content .qtip-title{
    background-color: #F28279;
}

.qtip-green .qtip-content .qtip-title{
    background-color: #B9DB8C;
}

/* TODO: attach disabled class to remoed testcasesteps */
.disable {
    cursor: default !important;
    opacity: 0.3 !important;
    pointer-events: none !important;
}

input[readonly] {
    background-color: #EFEFEF;
}

.hidden {
    display: none;
}

.removed input[type=text],
.removed textarea,
.removed .error {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
}
