body {
    overflow: auto;
}

#template textarea, #context textarea, #context input {
    font-family: monospace;
}
#editor-wrapper {
    position: relative
}
#id_editor { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    font-size: 13px;
    border: 1px solid #CCCCCC;
}

.context .button {
    height: 70px;
}

.context-element {
    padding: 0px 0px 8px 0px;
    position: relative;
}
 
.context-element.empty-form {
    display:none; 
}
 
.context-element.right {
    text-align: right;
}

.add-context-element {
    text-align: right;
    height: 23px;
}

.context-element textarea {
    height: 65px;
}

.content ul,
.external ul{

    margin-left: 15px;
}

.highlighttable .linenos {
    border-right: 2px solid #ccc; 
}

.highlighttable .code {
    width: 100%;
}

.highlighttable .linenos {
    padding-right: 3px;
}

.external {
    padding: 10px;
}

.external h1.title {
    color: black;
    border-bottom: 1px solid;
    display: block;
    font-size: 1.4em;
    line-height: 140%;
    width: 100%;
    margin-bottom: 10px;
}

.context-var-name {
    width: 100%;
    padding-bottom: 0.1em;
}

#context input[type="text"] {
    width: 80%;
}

.context-var-name .button {
    float: right;
    width: 19%;
}

.removed .context-var-name .button {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
}

.context-var-name .ui-button-text-only .ui-button-text {
    padding: 0.2em 1em;
}