#template textarea, #context textarea, #context input {
    font-family: monospace;
}
#editor-wrapper {
    position: relative
}
#id_editor { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    font-size: 13px;
    border: 1px solid #CCCCCC;
}

.context .button {
    height: 70px;
}

.context-element {
    padding: 0px 0px 8px 0px;
    position: relative;
}
 
.context-element.empty-form {
    display:none; 
}
 
.context-element.right {
    text-align: right;
}

.add-context-element {
    text-align: right;
    height: 23px;
}

.context-element textarea {
    height: 65px;
}

.context-element .delete {
    background: url("../images/close-icon.png") no-repeat scroll 0 0 transparent;
    position: absolute;
    right: -9px;
    top: -10px;
    width: 22px;
    height: 22px;
    background-size: 23px auto;
    cursor: pointer;
}

.content ul,
.external ul{

    margin-left: 15px;
}

.highlighttable .linenos {
    border-right: 2px solid #ccc; 
}

.highlighttable .code {
    width: 100%;
}

.highlighttable .linenos {
    padding-right: 3px;
}

.external {
    padding: 10px;
}

.external h1.title {
    color: black;
    border-bottom: 1px solid;
    display: block;
    font-size: 1.4em;
    line-height: 140%;
    width: 100%;
    margin-bottom: 10px;
}

