.template {
    display:none;
}

.step {
    margin-bottom: 5px;
}

.step.removed {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
}

.step textarea {
    height: 70px;
    overflow: auto;
}

.step .description {
    margin-right: 10px;
}

.step .excpected {
    margin-left: 10px;
}

#id_description, 
#id_precondition, 
.step textarea {
    height: 70px;
}
