.template {
    display:none;
}

.step {
    word-wrap: break-word;
    padding: 5px;

    border: 1px solid #ffffff;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.step:nth-child(even) {
    background: #f3f3f3;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.step.removed {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
}

.step textarea {
    height: 70px;
    overflow: auto;
}

.step .description {
    margin-right: 10px;
}

.step .excpected {
    margin-left: 10px;
}

#id_description,
#id_precondition,
.step textarea {
    height: 70px;
}

.step .delete-button {
    margin-top:5px;
}
