<div id="application-view-menu">
  {% if view == "details" %}
  <span class="active" >details</span>
  {% else %}
  <a href="#requirement/{{ obj.pk }}/details/">details</a>
  {% endif %}

  {% if view == "edit" %}
  <span class="active" >edit</span>
  {% else %}
  <a href="#requirement/{{ obj.pk }}/edit/">edit</a>
  {% endif %}

  {% if view == "testcases" %}
  <span class="active" >test cases</span>
  {% else %}
  <a href="#requirement/{{ obj.pk }}/testcases/">test cases</a>
  {% endif %}
</div>
