{% load application_view_menu %}
<div id="application-view-header">
  <h1>requirement: {{ requirement.name }}</h1>
</div>

{% application_view_menu requirement "testcases" %}
 
<form id="testcases_connect_form" method="post"
      action="{% url qualitio.requirements.views.testcases_connect requirement.id %}">
  {% csrf_token %}
  <div class="grid_8">
    <div class="connected-testcases application-view-content clearfix">
      <table class="display">
        <thead>
          <tr>
            <th class="checkbox">
              <input name="select-all" type="checkbox"/>
            </th>
	    <th>id</th>
            <th>path</th>
	    <th>name</th>
            <th>modified</th>
            <th>created</th>
          </tr>
        </thead>
        <tbody>
          {% for testcase in connected_testcases %}
          <tr class="{% cycle 'odd' 'even' %}" >
            <td class="select">
              <input type="checkbox" class="modify" value="{{ testcase.id }}"/>
              <input type="hidden" name="connected_test_case" value="{{ testcase.id }}"/>
            </td>
	    <td class="id">
              {{ testcase.id }}
            </td> 
            <td class="path">
              <a href="/store/#testcasedirectory/{{ testcase.parent.pk }}/details/">
                {{ testcase.path }}
              </a>
            </td>
            <td class="name">
              <a href="/store/#testcase/{{ testcase.pk }}/details/">
                {{ testcase.name }}
              </a>
            </td>
	    <td class="modified_time">
              {{ testcase.modified_time }}
            </td>
            <td class="created_time">
              {{ testcase.created_time }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a id="remove-testcases-button" class="button">remove</a>
    </div>
  </div>
  
  <div class="grid_8">
    <div class="available-testcases application-view-content clearfix">
      <table class="display">
        <thead>
          <tr>
            <th class="checkbox">
              <input name="select-all" type="checkbox"/>
            </th>
	    <th>id</th>
            <th>path</th>
	    <th>name</th>
            <th>requirement</th>
            <th>modified</th>
            <th>created</th>
          </tr>
        </thead>
        <tbody>
          {% for testcase in available_testcases %}
          <tr class="{% cycle 'odd' 'even' %}" style="background: {{ testcase.status.color }}">
            <td class="select">
              <input type="checkbox" class="modify" value="{{ testcase.id }}"/>
              <input type="hidden" name="available_test_case" value="{{ testcase.id }}"/>
            </td>
	    <td class="id">
              {{ testcase.id }}
            </td> 
            <td class="path">
              <a href="/store/#testcasedirectory/{{ testcase.parent.pk }}/details/">
                {{ testcase.path }}
              </a>
            </td>
            <td class="name">
              <a href="/store/#testcase/{{ testcase.pk }}/details/">
                {{ testcase.name }}
              </a>
            </td>
	    <td class="requirement">
              <a href="/require/#requirement/{{ testcase.requirement.pk }}/details/">
                {{ testcase.requirement }}
              </a>
            </td>
            
	    <td class="modified_time">
              {{ testcase.modified_time }}
            </td>
            <td class="created_time">
              {{ testcase.created_time }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a id="add-testcases-button" class="button">add</a>
    </div>
  </div>

  <div class="grid_16 clearfix">
    <div id="application-view-footer" class="application-view-content">
      <div class="right">
        <input type="submit" name="Executed" value="Save"/>
      </div>
    </div>
  </div>
</form>
<script type="text/javascript" src="{{ MEDIA_URL }}js/require_testcases.js{{ STATIC_HASH }}"></script>
